<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Parry Cadwallader" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <link rel="stylesheet" type="text/css" href="/css/packed.css">
    <title>parryblog | Planes, Trains, and Sex on Wheels</title>
  </head>
  <body>
    <div id="front-page">
      <article>
          <h1>Parry (<em>n</em>)</h1>
          A red-haired Minnesotan, commonly found in Berkeley. <br/>
          Known to <a href="http://record.beer">drink beer</a>, <a class="show-writing" href="http://leflan.eu/r/learns/languages">learn languages</a>, <a href="http://www.github.com/parryc">program</a>, take pictures, <a id="writes" href="/#writing">write</a>, and <a class="show-writing" href="/categories/travel">travel</a>.
          <br/>
          <br/>
          <em><span id="example-sentence">&#8275; once fought a bear to a draw. </span></em>
          <br/>
          <div class="center">
            <img id="front-image" src="/images/face-black-and-white.png"/>
          </div>
      </article>
    </div>
    <div id="all-content">
      <h1 class="page-title large-page-title">Planes, Trains, and Sex on Wheels</h1>
<h1 class="page-title tiny-page-title">
	
		Planes, Trains, and Sex on Wheels
	
</h1>
<div class="category-list">

  <a href="/categories/humor" class="category">humor</a>

</div>
<article>
    <p>There is a problem with today’s sexually active youth. We aren’t adventurous enough. I don’t mean this in the Kama Sutra, let’s-try-having-sex-while-upside-down-balancing-on-one-hand sort of adventurous, but rather the let’s have sex on top of a moving train sort of adventurous.</p>

<p>Now some of you might be thinking: “But Jimothy! You haven’t even done that and you’ve done everything.” That’s where you’d be wrong. Because I have, and the experience derailed all of my expectations on what sex could be like. However, it took a lot of preparation and no small amount of luck. As a result, I am legally obligated to not recommend that readers try it, even though I totally do.</p>

<p>However, I know that not all of you have access to trains, so I’ve compiled a list, in order of difficulty, of vehicles that you should probably try to have sex in or on. If I haven’t listed your preposition of choice it’s because either a) it’s not exciting or b) I can’t comprehend how you could actually do it.
<!-- more --></p>

<h3 id="car-in-novice-on-intermediate">Car (In: Novice, On: Intermediate)</h3>

<p>Now everyone has done this, but that doesn’t mean it needs to be the standard cramped-in-the-backseat-hope-to-God-no-one-pulls-up-next-to-you sort of sex. We can spice it up! In honor of the freshly-fallen snow, try locking your steering wheel to the right and having sex while doing craaazzzy donuts in an empty parking lot.  If you’re on top of the car, try ghost-riding it (Note: this is different from the tantric sex act, “ghost riding the dick”).</p>

<h3 id="train-in-novice-on-master">Train (In: Novice, On: Master)</h3>

<p>On face, trains are deceptively similar to cars: There are seats, they can be stationary, Scottish people have been known to spot them.  The kicker, though, is that there are other people. Using the bathroom is an option, but there’s that fear that you might fall through the hole in the toilet onto the tracks. Which is probably really kinky, but out of the purview of this particular column. I would suggest taking the very early or late commuter trains because there are no people.</p>

<p>On top is tricky; I’m not going to lie.  You need a willing partner, no fear of death (or perhaps, fear of death), 15 meters of rope and a slow-moving commuter rail train (preferably Czech).  Bribe your way up top as the train nears the station (since it’ll be slowing down), tie yourself down to the maintenance rails on top, do your thing, get off before any of the people in the station notice there are two half-naked people on top of the train.</p>

<h3 id="horse-on-intermediate">Horse (On: Intermediate)</h3>

<p>Use the natural bouncing motion to your advantage.  Going bareback is hard, but more impressive.  I once saw someone do a handstand on a horse, so I imagine that having sex on one is similar in difficulty.</p>

<h3 id="airplane-in-intermediate-on-master">Airplane (In: Intermediate, On: Master)</h3>

<p>Pro tip: You cannot get kicked off of a moving airplane, so the worst the flight attendants could do is less-than-politely ask you to return to your seat. Unless you’re on top of the moving airplane, but at that point, you probably have other problems.</p>

<h3 id="canoe-in-master-on-the-one">Canoe (In: Master, On: The One)</h3>

<p>I have a hard enough time sitting in a canoe worrying about not tipping over and being devoured by the Kraken, let alone copulating in one (Copulation Canoe is now the name of my Sea Level Club canoe charter service). Thus, anyone who can do the dirty in one gets my respect.  Now, having sex on a canoe … That is another matter entirely. The only way I can imagine this working is having two couples on either edge of the canoe humping at the same time in order to keep the canoe from tipping.</p>

<p>If you’re interested in either of the above canoodling scenarios, drop me a line.  Someone out there has got to have a lake fetish.</p>

<h3 id="spaceship-na">Spaceship (N/A)</h3>

<p>People who can get it on in a spaceship do not read school newspapers.  They’re off doing things more awesome than we mortals can comprehend.  Because seriously: zero-gravity boobs. Wuuuut.
<br /><br /><br />
<em>Written under the pseudonym Jimothy Singh for the Cornell Daily Sun</em></p>

</article>
<a href="/#writing"><img src="/images/logo.png" id="stamp"/></a>

    </div>
  </body>
  <script type="text/javascript">
      var colors = ["#FFFAF1","rgb(111,176,235)","#222222"],
          size = 25,
          yStart = window.innerHeight/size,
          dictSentences = [
            "&#8275; once fought a bear to a draw. ",
            "&#8275; is never gonna give you up. ",
            "Once upon a midnight dreary, &#8275; pondered weak and weary.",
            "&#8275; spent 6 months in a leaky boat",
            "Danger, &#8275;, danger!",
            "You can lead a &#8275; to a computer, but you can't make him code."
          ],
          generateBlocks = function() {
            var old = document.getElementsByClassName('footer-block');
            for(i=old.length-1;i>=0; --i) {
              old[i].parentNode.removeChild(old[i]);
            }
            for (var x = window.innerWidth/size+1; x >= 0; x--){    
              for (var y = yStart+1; y >= yStart-4; y--) {
                var square = document.createElement('div');
                square.className = "footer-block";
                square.style.height = "25px";
                square.style.width = "25px";
                square.style.position = "fixed";
                square.style.top = (size*y)+"px";
                square.style.left = (size*(x-1))+"px";
                square.style['z-index'] = 2;
                square.style.opacity = 1-(yStart-y)/4;

                square.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
                document.getElementsByTagName('body')[0].appendChild(square);
              } 
            }
          };

      sentence = document.getElementById('example-sentence');
      sentence.innerHTML = dictSentences[Math.floor(Math.random() * dictSentences.length)]; 
      // Hide all posts.
      posts = document.getElementById('all-content');
      if(posts.style.display != 'none') {
        posts.style.display = 'none';
      }

      writes = document.getElementById('writes');
      writes.onclick = function() {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      if(window.location.pathname !== '/' || window.location.hash === '#writing') {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      window.onresize = function() {
        yStart = window.innerHeight/size;
        generateBlocks();
      }
      generateBlocks();
  </script>
</html>
