{% extends '/base.html' %}
{% block page_css %}
  <link rel="stylesheet" href="/css/leflan.css" />
  {% assets "leflan_css" %}
    <!--force assets to compile, while Flask fixes multi-host bug-->
    <!--<link rel="stylesheet" href="{{ ASSET_URL }}" />-->
  {% endassets %}
{% endblock %}
{% block page_js %}
  <script type="text/javascript">
    var showAll = function() {
      var els = document.querySelectorAll('.entry');
      els.forEach(function(e,idx) {
        e.style.display = 'block';
      });
      return true;
    }

    var showOnly = function(_class) {
      var els = document.querySelectorAll('.entry');
      var sel = document.querySelectorAll('.entry tag[data-tag="'+_class+'"]');
      els.forEach(function(e,idx){
        e.style.display = 'none';
      })
      sel.forEach(function(e,idx){
        e.parentNode.style.display = 'block';
      })
    }

    // Attach filtering to the tag list at the top
    var filters = document.querySelectorAll('.filter');
    filters.forEach(function(e,idx) {
      e.addEventListener('click', function(){
        showOnly(e.innerText);
      });
    })

    // Attach filtering to the tag itself
    var tags = document.querySelectorAll('.dictionary-tag');
    tags.forEach(function(e,idx) {
      e.addEventListener('click', function(){
        showOnly(e.attributes['data-tag'].value);
      });
    })

    var all = document.getElementById('show-all');
    all.addEventListener('click', showAll);

  </script>
{% endblock %}
{% block header %}
  <em>le_flaneur</em> • <a href="/r">recent</a> • <a href="/r/learns">learns</a> • <a href="/r/reads">reads</a>
{% endblock %}
{% block content  %}
  <h1>{{title}} dictionary</h1>
  <a href="../{{title}}"><em>back to grammar</em></a><br/><br/>❧tags: <span id="show-all">all</span>,
  {% for tag in tag_list %}
    <span class="filter">{{tag}}</span>{% if not loop.last %},{% endif %}
  {% endfor %}
  <br/><br/>
  {% for e in dictionary %}
  <div class="entry">
    <span class="headword">{{e.headword|safe}}</span> {% if e.extra %}(<span class="extra">{{e.extra}}</span>){% endif %}
    {% for sense in e.senses %}
      {{loop.index|circle_num}} {{sense.meaning|safe}} {%if sense.example %}<em>{{sense.example}}</em>/{{sense.english}}{% endif %}
    {% endfor %}
    {% for tag in e.tags %}
      <tag class="dictionary-tag" data-tag="{{tag}}">{{tag}}</tag>
    {% endfor %}
  </div>
  {% endfor %}
{% endblock %}