{% extends '/base.html' %}
{% block page_css %}
  <link rel="stylesheet" href="/css/leflan.css" />
  {% assets "leflan_css" %}
    <!--force assets to compile, while Flask fixes multi-host bug-->
    <!--<link rel="stylesheet" href="{{ ASSET_URL }}" />-->
  {% endassets %}
{% endblock %}
{% block header %}
  <em>le_flaneur</em> • <a href="/r">recent</a> • <a href="/r/learns">learns</a> • <a href="/r/reads">reads</a>
{% endblock %}
{% block content  %}
  <h1>{{title}} dictionary</h1>
  <a href="../{{title}}"><em>back to grammar</em></a><br/><br/>
  {% for e in dictionary %}
  <div class="entry">
    <div class="headword-info"><span class="headword">{{e.headword}}</span> (<span class="pos">{{e.pos}}</span>) {{e.sense}}
    {% for ex in e.examples %}
      {{loop.index|circle_num}} <em>{{ex.example}}</em> {{ex.translation}}
    {% endfor %}

    {% if e.declensions %}
    <div class="declensions">
      <table>
        <thead>
          {% if e.pos == 'n' %}
            <th>num.</th>
            {% for d in e.declensions %}
              <th><abbr>{{d.name}}</abbr></th>
            {% endfor %}
          {% endif %}
          {% if e.pos == 'v' %}
            <th>person</th>
            <th><em>s</em></th>
            <th><em>p</em></th>
          {% endif %}
        </thead>
        <tbody>
          <tr>
            {% if e.pos == 'n' %}
              <td><em>s.</em></td>
              {% for d in e.declensions %}
                <td>{{d.s}}</td>
              {% endfor %}
            {% endif %}
            {% if e.pos == 'v' %}
              <td><em>1</em></td>
              {% for d in e.declensions %}
                <td>{{d.one}}</td>
              {% endfor %}
            {% endif %}
          </tr>
          <tr>
            {% if e.pos == 'n' %}
              <td><em>p.</em></td>
              {% for d in e.declensions %}
                <td>{{d.p}}</td>
              {% endfor %}
            {% endif %}
            {% if e.pos == 'v' %}
              <td><em>2</em></td>
              {% for d in e.declensions %}
                <td>{{d.two}}</td>
              {% endfor %}
            {% endif %}
          </tr>
          {% if e.pos == 'v' %}
            <tr>
              <td><em>3</em></td>
              {% for d in e.declensions %}
                <td>{{d.tre}}</td>
              {% endfor %}
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
  {% endfor %}
{% endblock %}