{% extends '/base.html' %}
{% block page_css %}
  <link rel="stylesheet" href="/css/leflan.css" />
  {% assets "leflan_css" %}
    <!--force assets to compile, while Flask fixes multi-host bug-->
    <!--<link rel="stylesheet" href="{{ ASSET_URL }}" />-->
  {% endassets %}
{% endblock %}
{% block header %}
  <em>le_flaneur</em> • <a href="/r">recent</a> • <a href="/r/learns">learns</a> • <a href="/r/reads">reads</a>
{% endblock %}
{% block content  %}
  <div id="post-header"><p>{{title}}</p></div>
  {{html|safe}}
{% endblock %}