<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Parry Cadwallader" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <link rel="stylesheet" type="text/css" href="/css/packed.css">
    <title>parryblog | Crazy (Subway) Train</title>
  </head>
  <body>
    <div id="front-page">
      <article>
          <h1>Parry (<em>n</em>)</h1>
          A red-haired Minnesotan, commonly found in Berkeley. <br/>
          Known to <a href="http://record.beer">drink beer</a>, <a class="show-writing" href="http://leflan.eu/r/learns/languages">learn languages</a>, <a href="http://www.github.com/parryc">program</a>, take pictures, <a id="writes" href="/#writing">write</a>, and <a class="show-writing" href="/categories/travel">travel</a>.
          <br/>
          <br/>
          <em><span id="example-sentence">&#8275; once fought a bear to a draw. </span></em>
          <br/>
          <div class="center">
            <img id="front-image" src="/images/face-black-and-white.png"/>
          </div>
      </article>
    </div>
    <div id="all-content">
      <h1 class="page-title large-page-title">Crazy (Subway) Train</h1>
<h1 class="page-title tiny-page-title">
	
		Crazy (Subway) Train
	
</h1>
<div class="category-list">

  <a href="/categories/china" class="category">china</a>

  <a href="/categories/travel" class="category">travel</a>

</div>
<article>
    <p>In the spirit of the Olympics, I have attempted to set a new record for “Longest Time Without Writing a Blog Post” – naw, just kidding. I’m just lazy. However, I have been using this time to “observe” (but don’t tell my boss, I’ve been telling him I’ve been programming).</p>

<p>As a commuter I spend a lot of time on the subway. I’ve mastered its tricks, its trades, and its stock exchange. I can do the Sleep-Until-Your-Stop, the No-Holds-Stand, the Doze-Off-Standing, and the Read-A-Book-In-Someone-Else’s-Hands. If there was a way to monetize these skills, I’d be rollin’ in the dough. (and subsequently wouldn’t have to ride the subway – you can see where I’m going with this.)</p>

<p>Independent of marketable skills, the Shanghai Metro has brought out my muse better than any Beatrice ever has. What I present to you below is my first work from what is likely to be part of my opus (in stores and Amazon soon!) comprised solely of unconnected ramblings written while sitting.
<!-- more -->
“Things I Think About While Thinking About Thinks on the Subway”</p>

<p>So while the topic was actually chosen while not on the subway, this is being written as you read (yes, I’m talking to you chinese man reading over my shoulder) on the subway. It’s legit. Don’t worry.</p>

<p>The first thing I think about, or at least thinking about now is: Jesus, that man is so obviously staring down that woman’s shirt. Which means that I as a corollary I am also staring at them. Which depending on your angle means I am either oogling an old man or a woman. This is only going to end well for none of us…</p>

<p>I also think about how much I am sitting and yet have still lost weight. This is what happens when you live alone, I think - woah, distracted: according to the subway (this is where I get all of my news in China), something something Mitt Romney attack ad! The subtitles are hard to read so I’m forced to try reading the English to understand (I don’t).</p>

<p>But yeah. Back to sitting and food. I am currently sitting on the subway for 25 stops. At 3 minutes per stop that’s… at least like 10 minutes of sitting. Probably more. Why? For (liquid) food (whisky) with old classmates (actual classmates). I also try to think about things like “man, I should be doing things other than sleeping on the subway,” but I usually fail at this by falling asleep in the middle of thinking. On the way home from work, however, I’m forced to stand. This forces me to either practice standing (easy), standing and sleeping (hard), or practice staring at people willing them to vacate their seat (hardest).</p>

<p>But don’t worry faithful readers! I am not bored! Usually! In addition to news clips (most recently about how something something Olympics!), the subway news channel also shows assorted Internet videos and clips of adorable animals doing adorable things.</p>

<p>Completely unrelated: There is a man sitting across from me with a shirt that says “all of my heroes are western cowboys.” I bet they are my friend, I bet they are.</p>

<p>And now for some pictures! Pictures are worth a thousand words, right? That means that I’ve written quite a bit. Phew. Hands are tired. Should probably rest 2 months next time.</p>

<figure>
	<img src="/images/shanghai-train1.jpg" />
	<figcaption>
		A view from my house at night
	</figcaption>
</figure>
<figure>
	<img src="/images/shanghai-train2.jpg" />
	<figcaption>
		Jing'an Temple
	</figcaption>
</figure>
<figure>
	<img src="/images/shanghai-train3.jpg" />
	<figcaption>
		The temple by Yuyuan
	</figcaption>
</figure>
<figure>
	<img src="/images/shanghai-train4.jpg" />
	<figcaption>
		My friend Huaipeng at hot pot
	</figcaption>
</figure>
<figure>
	<img src="/images/shanghai-train5.jpg" />
	<figcaption>
		Where I live, on a blue sky day!
	</figcaption>
</figure>
<figure>
	<img src="/images/shanghai-train6.jpg" />
	<figcaption>
		View from terrace at work
	</figcaption>
</figure>
<figure>
	<img src="/images/shanghai-train7.jpg" />
	<figcaption>
		The damn cool office building
	</figcaption>
</figure>
<figure>
	<img src="/images/shanghai-train8.jpg" />
	<figcaption>
		Financial district, as seen from the Bund
	</figcaption>
</figure>
<figure>
	<img src="/images/shanghai-train9.jpg" />
	<figcaption>
		The Pearl Tower (though it reminds me of somethign else...)
	</figcaption>
</figure>

</article>
<a href="/#writing"><img src="/images/logo.png" id="stamp"/></a>

    </div>
  </body>
  <script type="text/javascript">
      var colors = ["#FFFAF1","rgb(111,176,235)","#222222"],
          size = 25,
          yStart = window.innerHeight/size,
          dictSentences = [
            "&#8275; once fought a bear to a draw. ",
            "&#8275; is never gonna give you up. ",
            "Once upon a midnight dreary, &#8275; pondered weak and weary.",
            "&#8275; spent 6 months in a leaky boat",
            "Danger, &#8275;, danger!",
            "You can lead a &#8275; to a computer, but you can't make him code."
          ],
          generateBlocks = function() {
            var old = document.getElementsByClassName('footer-block');
            for(i=old.length-1;i>=0; --i) {
              old[i].parentNode.removeChild(old[i]);
            }
            for (var x = window.innerWidth/size+1; x >= 0; x--){    
              for (var y = yStart+1; y >= yStart-4; y--) {
                var square = document.createElement('div');
                square.className = "footer-block";
                square.style.height = "25px";
                square.style.width = "25px";
                square.style.position = "fixed";
                square.style.top = (size*y)+"px";
                square.style.left = (size*(x-1))+"px";
                square.style['z-index'] = 2;
                square.style.opacity = 1-(yStart-y)/4;

                square.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
                document.getElementsByTagName('body')[0].appendChild(square);
              } 
            }
          };

      sentence = document.getElementById('example-sentence');
      sentence.innerHTML = dictSentences[Math.floor(Math.random() * dictSentences.length)]; 
      // Hide all posts.
      posts = document.getElementById('all-content');
      if(posts.style.display != 'none') {
        posts.style.display = 'none';
      }

      writes = document.getElementById('writes');
      writes.onclick = function() {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      if(window.location.pathname !== '/' || window.location.hash === '#writing') {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      window.onresize = function() {
        yStart = window.innerHeight/size;
        generateBlocks();
      }
      generateBlocks();
  </script>
</html>
