<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Parry Cadwallader" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <link rel="stylesheet" type="text/css" href="/css/packed.css">
    <title>parryblog | World's Largest Urinal</title>
  </head>
  <body>
    <div id="front-page">
      <article>
          <h1>Parry (<em>n</em>)</h1>
          A red-haired Minnesotan, commonly found in Berkeley. <br/>
          Known to <a href="http://record.beer">drink beer</a>, <a class="show-writing" href="http://leflan.eu/r/learns/languages">learn languages</a>, <a href="http://www.github.com/parryc">program</a>, take pictures, <a id="writes" href="/#writing">write</a>, and <a class="show-writing" href="/categories/travel">travel</a>.
          <br/>
          <br/>
          <em><span id="example-sentence">&#8275; once fought a bear to a draw. </span></em>
          <br/>
          <div class="center">
            <img id="front-image" src="/images/face-black-and-white.png"/>
          </div>
      </article>
    </div>
    <div id="all-content">
      <h1 class="page-title large-page-title">World's Largest Urinal</h1>
<h1 class="page-title tiny-page-title">
	
		World's Largest Urinal
	
</h1>
<div class="category-list">

  <a href="/categories/france" class="category">france</a>

  <a href="/categories/travel" class="category">travel</a>

</div>
<article>
    <p>And there aren’t even any of those edible (uh…so I’ve been told…) urinal cakes around here.</p>

<p>But yes, the fact of the matter is that Marseile smells like an alcoholic homeless man who peed himself. It doesn’t help that Marseille is home to a large amount of homeless men who’ve peed themselves. Get off the train - urine. Walk to the harbor - fish…and urine. Walk to the Arc de Triomphe - urine! Yay! Also, dog crap everywhere. Adding insult to injury.
<!-- more -->
We should have known this city was going to be a little grating on the senses. France didn’t even want us to go here in the first place. Not only did we miss the train out of Strasbourg (you can only retrieve tickets with the card you purchased it with and the confirmation number - here’s looking at you EE.), but we also missed the connecting train in Lyon. I had to pretend I didn’t know French (not hard) and was functionally illiterate (also not hard) to convince the ticket inspector that I didn’t know I was on the wrong train (we snuck on to a later TGV rather than buy new tickets…again). That’s right, we had to <em>break rules</em> to get to a place that smells like urine. Everywhere.</p>

<p>Marseille ranks up there with New Jersey in terms of places I’ve visited but could not in good conscience recommend a visit. Get off the TGV in Avignon or Aix-en-Provence, that’s what all but 15 crazy souls did on our train.</p>

<p>It was also raining.</p>

<p>Ok ok, so it might sound like we ended up in the Alabama of France. This is not completely true. It’s like we ended up in Louisiana. It still sucks, but you might find yourself in a cajun restaurant listening to smooth jazz.</p>

<p>But you’re probably in Biloxi watching your livelihood be destroyed by oil.</p>

<p>We did, luckily, find our cajun restaurant: Hotel Vertigo. The perfect backpacker’s hotel (well it will be perfect if they have a printer) - cute, quaint, dormitory living (we’re with two Parisian guys) and complementary breakfast. Very nice and doesn’t smell like urine!</p>

<p>There are also things to do. There’s Notre Dame de la Gare, a huge mountain top cathedral overlooking all of Marseille. That was pretty cool - almost made Marseille look worth visiting. Almost. There’s also Chateau d’If, prison of Edmond Dantes from the Count of Monte Cristo. In theory, we’re visting that tomorrow. I wonder if we’ll see Antonio Banderas. <em>crosses fingers</em></p>

</article>
<a href="/#writing"><img src="/images/logo.png" id="stamp"/></a>

    </div>
  </body>
  <script type="text/javascript">
      var colors = ["#FFFAF1","rgb(111,176,235)","#222222"],
          size = 25,
          yStart = window.innerHeight/size,
          dictSentences = [
            "&#8275; once fought a bear to a draw. ",
            "&#8275; is never gonna give you up. ",
            "Once upon a midnight dreary, &#8275; pondered weak and weary.",
            "&#8275; spent 6 months in a leaky boat",
            "Danger, &#8275;, danger!",
            "You can lead a &#8275; to a computer, but you can't make him code."
          ],
          generateBlocks = function() {
            var old = document.getElementsByClassName('footer-block');
            for(i=old.length-1;i>=0; --i) {
              old[i].parentNode.removeChild(old[i]);
            }
            for (var x = window.innerWidth/size+1; x >= 0; x--){    
              for (var y = yStart+1; y >= yStart-4; y--) {
                var square = document.createElement('div');
                square.className = "footer-block";
                square.style.height = "25px";
                square.style.width = "25px";
                square.style.position = "fixed";
                square.style.top = (size*y)+"px";
                square.style.left = (size*(x-1))+"px";
                square.style['z-index'] = 2;
                square.style.opacity = 1-(yStart-y)/4;

                square.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
                document.getElementsByTagName('body')[0].appendChild(square);
              } 
            }
          };

      sentence = document.getElementById('example-sentence');
      sentence.innerHTML = dictSentences[Math.floor(Math.random() * dictSentences.length)]; 
      // Hide all posts.
      posts = document.getElementById('all-content');
      if(posts.style.display != 'none') {
        posts.style.display = 'none';
      }

      writes = document.getElementById('writes');
      writes.onclick = function() {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      if(window.location.pathname !== '/' || window.location.hash === '#writing') {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      window.onresize = function() {
        yStart = window.innerHeight/size;
        generateBlocks();
      }
      generateBlocks();
  </script>
</html>
