<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Parry Cadwallader" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <link rel="stylesheet" type="text/css" href="/css/packed.css">
    <title>parryblog | Brennan the Science Poet</title>
  </head>
  <body>
    <div id="front-page">
      <article>
          <h1>Parry (<em>n</em>)</h1>
          A red-haired Minnesotan, commonly found in Berkeley. <br/>
          Known to <a href="http://record.beer">drink beer</a>, <a class="show-writing" href="http://leflan.eu/r/learns/languages">learn languages</a>, <a href="http://www.github.com/parryc">program</a>, take pictures, <a id="writes" href="/#writing">write</a>, and <a class="show-writing" href="/categories/travel">travel</a>.
          <br/>
          <br/>
          <em><span id="example-sentence">&#8275; once fought a bear to a draw. </span></em>
          <br/>
          <div class="center">
            <img id="front-image" src="/images/face-black-and-white.png"/>
          </div>
      </article>
    </div>
    <div id="all-content">
      <h1 class="page-title large-page-title">Brennan the Science Poet</h1>
<h1 class="page-title tiny-page-title">
	
		Brennan the Science Poet
	
</h1>
<div class="category-list">

  <a href="/categories/travel" class="category">travel</a>

  <a href="/categories/uk" class="category">uk</a>

</div>
<article>
    <p>Brennan is a science poet.  He is more than a poet - he has transcended words and writes with pure science (which look suspiciously like scribbles on the back of ripped manilla folders).  Brennan likely hasn’t showered in days.  Brennan is also staying in the same room as us.</p>

<p>This is his story.</p>

<!-- more -->
<p>Brennan grew up in, what in retrospect is quite fitting, Wisconsin. Due to a series of events in his life, he ended up in San Francisco.  More things happened.  He ended up in the United Kingdom.  His goal is Ireland.  Somewhere along the way something went horrible wrong (Research note: There are 2-3 non-stop flights from JFK to Dublin, seriously, how the hell did he end up in Oxford).  However, he realized he was not in the land of Guinness, whisky, and Guinnesswhisky (new in 2012!), so he decided he should probably take a ferry across (here I would normally suggest that he just swim - but I’m not totally sure that he wouldn’t try it…and I’m not sure if that makes me accessory to some sort of heinous crime).</p>

<p>However, he has yet to take said ferry because “the weather up there has been quite bad.”  (Research note: yeah, no.)  So, he’s with us.  Luckily, my good friend Franz is here - they’re both scientists.  And what do you know!  Brennan is a sociological string theorist.  Just as how the humanities version of mathematics is…uh…geology, the humanities matching to quantum/physics string theory is sociological string theory.  We’re not totally sure what it is (perhaps out of fear of continuing the conversation with him), but there’s a non-zero chance that it’s related to the study of how people are all connected by strings.  If you’re more connected to a person, then it’s like you’re wearing a sweater or something.  Where do things like wool socks come in?  Or relationships made from polyester?</p>

<p>I think his theories have holes in them.  Not unlike his sweatshirt.</p>

<p>This is not to disparage him, of course.  I do think we have met some kind of genius.  During one of the deeper moments of the conversation, when one of us said something he particularly agreed with, he pulled out a radio from his pocket and said <a href="http://www.youtube.com/watch?v=pbi4LXDPkCI">“That’s the frequency, innit?”</a>  I still listen to 1440AM (RADIO DISNEY, 1-888-EARS-018), so I’m not sure if what I said was a frequency (or even numbers, for that matter), but anyone who still listens to radios has to exist at a level I can’t even fathom.</p>

<p>While I don’t think he necessarily is here to steal things (that’s a lie), I should make this clear:  I’m sleeping with both kidneys close at hand.  Take my liberty, take my change of clothes (not seriously, you could use a new pair of jeans), or take my friends, but please, leave me my vital organs.</p>

<p>Continuing with the trend of “seriously?”, how the hell has every pub we’ve eaten in (minus one) ran out of fish and chips.  It’s like the chefs looked at each other and were like “so…we have 9 fish.  Think that’ll be enough?”  “Yeah, yeah, who eats fish and chips in a pub? It’s not like it is the stereotypical pub fare.”  “Ok, 9 fish for the day it is.”</p>

<p>We come in at the crazy hour of just before 12 and ask for fish and chips.  Waiter “sorry, they just ordered them.”  Wait, what? All of them? That table has like 4 fish on it.  Seriously, give us our damn fish.</p>

<p>As I said, we did manage to get some fish and chips.  By being literally the first patrons in the pub.  We even got there before the kitchen opened.  Seriously, pubs, step up your game.</p>

</article>
<a href="/#writing"><img src="/images/logo.png" id="stamp"/></a>

    </div>
  </body>
  <script type="text/javascript">
      var colors = ["#FFFAF1","rgb(111,176,235)","#222222"],
          size = 25,
          yStart = window.innerHeight/size,
          dictSentences = [
            "&#8275; once fought a bear to a draw. ",
            "&#8275; is never gonna give you up. ",
            "Once upon a midnight dreary, &#8275; pondered weak and weary.",
            "&#8275; spent 6 months in a leaky boat",
            "Danger, &#8275;, danger!",
            "You can lead a &#8275; to a computer, but you can't make him code."
          ],
          generateBlocks = function() {
            var old = document.getElementsByClassName('footer-block');
            for(i=old.length-1;i>=0; --i) {
              old[i].parentNode.removeChild(old[i]);
            }
            for (var x = window.innerWidth/size+1; x >= 0; x--){    
              for (var y = yStart+1; y >= yStart-4; y--) {
                var square = document.createElement('div');
                square.className = "footer-block";
                square.style.height = "25px";
                square.style.width = "25px";
                square.style.position = "fixed";
                square.style.top = (size*y)+"px";
                square.style.left = (size*(x-1))+"px";
                square.style['z-index'] = 2;
                square.style.opacity = 1-(yStart-y)/4;

                square.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
                document.getElementsByTagName('body')[0].appendChild(square);
              } 
            }
          };

      sentence = document.getElementById('example-sentence');
      sentence.innerHTML = dictSentences[Math.floor(Math.random() * dictSentences.length)]; 
      // Hide all posts.
      posts = document.getElementById('all-content');
      if(posts.style.display != 'none') {
        posts.style.display = 'none';
      }

      writes = document.getElementById('writes');
      writes.onclick = function() {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      if(window.location.pathname !== '/' || window.location.hash === '#writing') {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      window.onresize = function() {
        yStart = window.innerHeight/size;
        generateBlocks();
      }
      generateBlocks();
  </script>
</html>
