<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Parry Cadwallader" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <link rel="stylesheet" type="text/css" href="/css/packed.css">
    <title>parryblog | What's Your Sex Totem Animal?</title>
  </head>
  <body>
    <div id="front-page">
      <article>
          <h1>Parry (<em>n</em>)</h1>
          A red-haired Minnesotan, commonly found in Berkeley. <br/>
          Known to <a href="http://record.beer">drink beer</a>, <a class="show-writing" href="http://leflan.eu/r/learns/languages">learn languages</a>, <a href="http://www.github.com/parryc">program</a>, take pictures, <a id="writes" href="/#writing">write</a>, and <a class="show-writing" href="/categories/travel">travel</a>.
          <br/>
          <br/>
          <em><span id="example-sentence">&#8275; once fought a bear to a draw. </span></em>
          <br/>
          <div class="center">
            <img id="front-image" src="/images/face-black-and-white.png"/>
          </div>
      </article>
    </div>
    <div id="all-content">
      <h1 class="page-title large-page-title">What's Your Sex Totem Animal?</h1>
<h1 class="page-title tiny-page-title">
	
		What's Your Sex Totem Animal?
	
</h1>
<div class="category-list">

  <a href="/categories/humor" class="category">humor</a>

</div>
<article>
    <p>Last winter while abroad, I traveled with a family of Samoyed people into south Siberia to see the Northern Lights. The last night we were out, I had the most vivid dream of a tall otter in war-paint and red shorts. Over breakfast, I explained the dream and was informed that I had had my Sex Totem dream. Young adults in that region, after enough exposure to the Northern Lights, will have a dream of an animal that will ultimately describe how they are in bed. An otter evokes ideas of lazing about in the sea, holding on to one’s partner and eating shellfish. That, in my case, means staying in bed, cuddling and eating shellfish. As an otter in war-paint, it means that I am apt to go abroad to war and cuddle my conquests, which also means … no, that’s exactly what it means.</p>

<p>But you’re probably asking yourself: “What does this have to do with me?”  Luckily for you, my Samoyed friend, Ob Yenisei, has been giving me tips on how to read other people’s sex totem dreams, which I will share with you below. If you have trouble remembering dreams, you may have already had yours without realizing it, so you can use this as a way to go from a description of your sexual self to a sex totem.
<!-- more --></p>

<h3 id="bird">Bird</h3>

<p>You are prone to being flighty, even for booty calls.  Occasionally, you may get out of bed and simply leave without any explanation. Your brightly colored dress and coiffure attracts many different mates, though you have a tendency to crap on their ideas in bed and in their car.</p>

<h3 id="bear">Bear</h3>

<p>You are slow moving and generally don’t take notice of many of the things around you until something of particular interest catches your eye. There is also a large possibility that you are into hairy, gay men.</p>

<h3 id="deer">Deer</h3>

<p>You likely travel in close groups, finding comfort by being in the presence of others all doing the same thing. You may also like Greek tantric sex. In addition, you also tend to have very few needs, restricted to foraging for leaves and not being bowled over by a bro larger than yourself.</p>

<h3 id="tiger">Tiger</h3>

<p>There aren’t many of you left.  You are lithe, agile and very good at getting what you want. A bear may satisfy you for a while, but you are likely to have brief flings with many deer. Remember to clarify that you are not a cougar.</p>

<h3 id="arctic-fox">Arctic Fox</h3>

<p>Tiny and unassuming, you sometimes blend into the glaring whiteness of Cornell.  However, when other people notice you, they can’t help but stop and stare.  Use this to your advantage or they might use your pelt for a hat or something.</p>

<h3 id="ibex">Ibex</h3>

<p>No one has any idea what you’re about. You just go around doing your thing. Although this may prevent you from being confident in approaching others, just remember, you have the biggest horns of anyone.</p>

<h3 id="walrus">Walrus</h3>

<p>You might only get action once a year. People will think you’re lazy, but you know it’s not true, because for most of the year you’re fighting off orca whales, giant squid and engineering problem sets.  People will, however, comment on the stubble.  I would recommend shaving it.</p>

<h3 id="caribou">Caribou</h3>

<p>You are much more aggressive than your peers and try to use your position and status as the president of a club or a member of the Student Assembly to get what you want. It is important to realize that, like your antlers, your status is not eternal. Focus on leading, rather than the title of the month, for a fruitful sex life.</p>

<h3 id="yak">Yak</h3>

<p>You, unfortunately, are slow and a little dim-witted. This doesn’t matter, because you can make awesome butter and models of things. Your lumbering yet steadfast nature may not serve you well in the immediate future, but will reap benefits when someone finally remembers that you can make everything much better than the competition.<br />
<br /><br /><br />
<em>Written under the pseudonym Jimothy Singh for the Cornell Daily Sun</em></p>

</article>
<a href="/#writing"><img src="/images/logo.png" id="stamp"/></a>

    </div>
  </body>
  <script type="text/javascript">
      var colors = ["#FFFAF1","rgb(111,176,235)","#222222"],
          size = 25,
          yStart = window.innerHeight/size,
          dictSentences = [
            "&#8275; once fought a bear to a draw. ",
            "&#8275; is never gonna give you up. ",
            "Once upon a midnight dreary, &#8275; pondered weak and weary.",
            "&#8275; spent 6 months in a leaky boat",
            "Danger, &#8275;, danger!",
            "You can lead a &#8275; to a computer, but you can't make him code."
          ],
          generateBlocks = function() {
            var old = document.getElementsByClassName('footer-block');
            for(i=old.length-1;i>=0; --i) {
              old[i].parentNode.removeChild(old[i]);
            }
            for (var x = window.innerWidth/size+1; x >= 0; x--){    
              for (var y = yStart+1; y >= yStart-4; y--) {
                var square = document.createElement('div');
                square.className = "footer-block";
                square.style.height = "25px";
                square.style.width = "25px";
                square.style.position = "fixed";
                square.style.top = (size*y)+"px";
                square.style.left = (size*(x-1))+"px";
                square.style['z-index'] = 2;
                square.style.opacity = 1-(yStart-y)/4;

                square.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
                document.getElementsByTagName('body')[0].appendChild(square);
              } 
            }
          };

      sentence = document.getElementById('example-sentence');
      sentence.innerHTML = dictSentences[Math.floor(Math.random() * dictSentences.length)]; 
      // Hide all posts.
      posts = document.getElementById('all-content');
      if(posts.style.display != 'none') {
        posts.style.display = 'none';
      }

      writes = document.getElementById('writes');
      writes.onclick = function() {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      if(window.location.pathname !== '/' || window.location.hash === '#writing') {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      window.onresize = function() {
        yStart = window.innerHeight/size;
        generateBlocks();
      }
      generateBlocks();
  </script>
</html>
