<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Parry Cadwallader" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <link rel="stylesheet" type="text/css" href="/css/packed.css">
    <title>parryblog | Watching Space Jam</title>
  </head>
  <body>
    <div id="front-page">
      <article>
          <h1>Parry (<em>n</em>)</h1>
          A red-haired Minnesotan, commonly found in Berkeley. <br/>
          Known to <a href="http://record.beer">drink beer</a>, <a class="show-writing" href="http://leflan.eu/r/learns/languages">learn languages</a>, <a href="http://www.github.com/parryc">program</a>, take pictures, <a id="writes" href="/#writing">write</a>, and <a class="show-writing" href="/categories/travel">travel</a>.
          <br/>
          <br/>
          <em><span id="example-sentence">&#8275; once fought a bear to a draw. </span></em>
          <br/>
          <div class="center">
            <img id="front-image" src="/images/face-black-and-white.png"/>
          </div>
      </article>
    </div>
    <div id="all-content">
      <h1 class="page-title large-page-title">Watching Space Jam</h1>
<h1 class="page-title tiny-page-title">
	
		Watching Space Jam
	
</h1>
<div class="category-list">

  <a href="/categories/travel" class="category">travel</a>

  <a href="/categories/uk" class="category">uk</a>

</div>
<article>
    <p>To set the scene for your reading: There are bunch of British people watching pizza and watching Space Jam in the hostel. This is like a horrible amalgamation of kindergarten, college, and my worst nightmares. Also, Richard Simmons. Dear God, what’s going on.</p>

<p>Some of you might be thinking: “Parry you haven’t updated this is days! There are so many things in London you had to have seen some of the things, if not a fair many things.” To this extent, there is truth in that statement, I have seen many things. Because you’re curious (or being forced to read this) I’ll let you know what they are:
<!-- more -->
* Let me introduce further my intrepid (for lack of any other adjective) exploring buddy, Jimothy Singh, or Jimvinder to those who want to disparage him. Jimothy, because he’s a great, studious guy (lives with his parents) doesn’t uh…drink a lot of water. Or something. However, us being here on New Year’s Eve means that there was plenty of…water…and not a lot of…alcohol. (Are you with me so far? Someone’s worried I might talk about about him drinking…water…in a public setting. So I’m being clever with my words. Also, not telling him.) Whilst going to the fireworks at the London Eye, Jimothy decided to…ahem…paint…on the subway. I’m no expert on painting, but I definitely saw some paintings at the National Gallery that looked similar. I’m not sure what this says about a) Jimothy’s ability to paint, b) the Impressionists, or c) religious iconography.
* All of the babies speak British! While not necessarily a “thing”, at least by their parent’s definition, it is most certainly the case that if any of these babies were to wander into the US Congress, they would have unlimited jurisdiction. Everything they say is filled with such <em>power</em>. I bet if they said “Mother, I do so wish that Beezelbub would come join us for afternoon tea,” not only would he appear instantly, but he would be wearing a nice tuxedo and be on his best behavior, of course until Ms. Elizabeth-May Cottonwood, 7 year old daughter of the Earl of Upminster demand that he “skip across the pond and destroy those bloody fools.”
* The inside of my eyelids. This is mostly cause we walk for about 6 hours straight each day, either because there is a lot to see, or one of us is very convincing when it comes to leading us in the wrong direction (neither I nor Franz). I guess this isn’t really a problem, more of a slight embarrassment, since I believe our hostelmates have only ever seen us sleeping, and at odd hours of the day. Our schedule thus far is wake up at 8, wander till 4/5, plan on meeting at 6, sleeping until 9:30, waking up and going and getting dinner.
* Food. Gourmet Burger Kitchen is probably the best place.</p>

<p>In so far as other things have been seen, here are pictures:</p>

<figure>
	<img src="/images/big-ben.jpg" />
	<figcaption>
		Big Ben and the London Eye (New Year's fireworks were here).
	</figcaption>
</figure>
<figure>
	<img src="/images/st-paul.jpg" />
	<figcaption>
		St. Paul's Cathedral
	</figcaption>
</figure>
<figure>
	<img src="/images/more-big-ben.jpg" />
	<figcaption>
		More Big Ben
	</figcaption>
</figure>
<figure>
	<img src="/images/queen.jpg" />
	<figcaption>
		Me n' the Queen
	</figcaption>
</figure>
<figure>
	<img src="/images/tower-bridge.jpg" />
	<figcaption>
		Tower Bridge
	</figcaption>
</figure>

</article>
<a href="/#writing"><img src="/images/logo.png" id="stamp"/></a>

    </div>
  </body>
  <script type="text/javascript">
      var colors = ["#FFFAF1","rgb(111,176,235)","#222222"],
          size = 25,
          yStart = window.innerHeight/size,
          dictSentences = [
            "&#8275; once fought a bear to a draw. ",
            "&#8275; is never gonna give you up. ",
            "Once upon a midnight dreary, &#8275; pondered weak and weary.",
            "&#8275; spent 6 months in a leaky boat",
            "Danger, &#8275;, danger!",
            "You can lead a &#8275; to a computer, but you can't make him code."
          ],
          generateBlocks = function() {
            var old = document.getElementsByClassName('footer-block');
            for(i=old.length-1;i>=0; --i) {
              old[i].parentNode.removeChild(old[i]);
            }
            for (var x = window.innerWidth/size+1; x >= 0; x--){    
              for (var y = yStart+1; y >= yStart-4; y--) {
                var square = document.createElement('div');
                square.className = "footer-block";
                square.style.height = "25px";
                square.style.width = "25px";
                square.style.position = "fixed";
                square.style.top = (size*y)+"px";
                square.style.left = (size*(x-1))+"px";
                square.style['z-index'] = 2;
                square.style.opacity = 1-(yStart-y)/4;

                square.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
                document.getElementsByTagName('body')[0].appendChild(square);
              } 
            }
          };

      sentence = document.getElementById('example-sentence');
      sentence.innerHTML = dictSentences[Math.floor(Math.random() * dictSentences.length)]; 
      // Hide all posts.
      posts = document.getElementById('all-content');
      if(posts.style.display != 'none') {
        posts.style.display = 'none';
      }

      writes = document.getElementById('writes');
      writes.onclick = function() {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      if(window.location.pathname !== '/' || window.location.hash === '#writing') {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      window.onresize = function() {
        yStart = window.innerHeight/size;
        generateBlocks();
      }
      generateBlocks();
  </script>
</html>
