<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Parry Cadwallader" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <link rel="stylesheet" type="text/css" href="/css/packed.css">
    <title>parryblog | One Hundred and Sexty-One Ideas</title>
  </head>
  <body>
    <div id="front-page">
      <article>
          <h1>Parry (<em>n</em>)</h1>
          A red-haired Minnesotan, commonly found in Berkeley. <br/>
          Known to <a href="http://record.beer">drink beer</a>, <a class="show-writing" href="http://leflan.eu/r/learns/languages">learn languages</a>, <a href="http://www.github.com/parryc">program</a>, take pictures, <a id="writes" href="/#writing">write</a>, and <a class="show-writing" href="/categories/travel">travel</a>.
          <br/>
          <br/>
          <em><span id="example-sentence">&#8275; once fought a bear to a draw. </span></em>
          <br/>
          <div class="center">
            <img id="front-image" src="/images/face-black-and-white.png"/>
          </div>
      </article>
    </div>
    <div id="all-content">
      <h1 class="page-title large-page-title">One Hundred and Sexty-One Ideas</h1>
<h1 class="page-title tiny-page-title">
	
		One Hundred and Sexty-One Ideas
	
</h1>
<div class="category-list">

  <a href="/categories/humor" class="category">humor</a>

</div>
<article>
    <p>In the spirit of AH-I’M-ALMOST-GRADUATING-AND-NOT-READY-TO-BE-A-REAL-PERSON nostalgia, I thought it’d be a good time to share some of the sexual highlights of my time at Cornell. Originally, when I set out to be the sex artist that I am today, I thought it would be sufficient to do everything on the 161 list and then add “and then have sex afterwards” to each one of them.  Now, this isn’t that bad of an idea and for most, it’s probably sufficient. For the few who want to herald the new wave of sexual artistry though — the Picassos of positions, the Rembrandts of romance and the Mondrians of making love — that just simply isn’t enough. It’s for you special few that I write this column, based on my own search for higher meaning in random sex at Cornell.
<!-- more -->
###Light something on fire, throw it off the gorge, and then have sex afterwards.###</p>

<p>Pro tip: Throw a flaming pair of underwear into the gorge.  Turn to your partner, but don’t say anything about your loins being on fire. He or she would have expected that. Now you’re mysterious, witty and a bad-ass rule breaker. That’s like killing 9 birds with a flaming pair of underwear.</p>

<h3 id="start-a-sex-themed-club">Start a sex themed club.</h3>

<p>Sophomore year I was the proud president of “Chessex-boxing club.” I told my advisor that was a form of English chess boxing, while in reality, it was a round of chess, then a round of boxing and then a round of sex.  Remember, if anyone asks why there are weird noises coming from the room you reserved, the moaning is because chess/boxing/definitely-not-sex is so much fun.</p>

<h3 id="sleep-with-an-engineering-problem-set-group">Sleep with an engineering problem set group.</h3>

<p>In retrospect, this was probably the hardest thing I’ve done at Cornell. To accomplish this, you really only need one smooth line.  I asked some lovely engineers if they wanted to “optimize some algorithms” that night and then left my number in hexadecimal. I didn’t do an entire group all at once; I’m still hoping for that magic moment. Shoot me an email if you want to practice dealing with collisions in your hashtable sometime.</p>

<h3 id="visit-all-seven-continents">Visit all seven continents.</h3>

<p>Sleep with someone from each college. Ostensibly not that hard, but each college has its own problems.  Here are my tips for getting close to someone from each one.</p>

<p><strong>CALS:</strong> Pretend that you have found a bovine in need. Say the word “ruminant.” The CALS student will now be too into you to notice there’s no cow in need of assistance.</p>

<p><strong>Human Ecology:</strong> Ask if one of them needs help modeling their new underwear. One/all of them will. Proceed to look sexy.</p>

<p><strong>Hotelies:</strong> Get one them talking. He or she will eventually tire of talking about his or her hotel passion of choice (cooking, cleaning or walking around like a manager) and eventually ask if you want to have sex in the Statler. Say yes.</p>

<p><strong>Arts and Science:</strong> Pretend you have a job. You’re now 500 percent more likely to get laid. In the morning say you’re here getting your MBA. He or she will leave instantly.</p>

<p><strong>Engineering:</strong> Tell him or her that you know the TA in one of their classes and will provide a reasonable excuse for why the homework was turned in late. Have a 3 minute quicky and sigh as he or she goes back to work.</p>

<p><strong>AAP:</strong> Tell one of them your father was shortlisted for the Pritzker Prize and is looking to expand his company. This only works for archies, but hey, I bet you didn’t know the other A and the P stood for anything, did you?</p>

<p><strong>ILR:</strong> Just hint that you know someone who’s a high-up in an investment bank or a politician. You will get laid, but it will be called “networking.”</p>

<p>Ok, that’s enough.  The true master doesn’t reveal all of his secrets. You cannot be told how to paint triptychs with your tongue tricks: the road to sublime sexual artistry takes Monet-years of practice. Indeed, my stopping early in the list is definitely for this reason and not because I don’t want to explore the intricacies of trying to have sex in a tree on every quad.
<br /><br /><br />
<em>Written under the pseudonym Jimothy Singh for the Cornell Daily Sun</em></p>

</article>
<a href="/#writing"><img src="/images/logo.png" id="stamp"/></a>

    </div>
  </body>
  <script type="text/javascript">
      var colors = ["#FFFAF1","rgb(111,176,235)","#222222"],
          size = 25,
          yStart = window.innerHeight/size,
          dictSentences = [
            "&#8275; once fought a bear to a draw. ",
            "&#8275; is never gonna give you up. ",
            "Once upon a midnight dreary, &#8275; pondered weak and weary.",
            "&#8275; spent 6 months in a leaky boat",
            "Danger, &#8275;, danger!",
            "You can lead a &#8275; to a computer, but you can't make him code."
          ],
          generateBlocks = function() {
            var old = document.getElementsByClassName('footer-block');
            for(i=old.length-1;i>=0; --i) {
              old[i].parentNode.removeChild(old[i]);
            }
            for (var x = window.innerWidth/size+1; x >= 0; x--){    
              for (var y = yStart+1; y >= yStart-4; y--) {
                var square = document.createElement('div');
                square.className = "footer-block";
                square.style.height = "25px";
                square.style.width = "25px";
                square.style.position = "fixed";
                square.style.top = (size*y)+"px";
                square.style.left = (size*(x-1))+"px";
                square.style['z-index'] = 2;
                square.style.opacity = 1-(yStart-y)/4;

                square.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
                document.getElementsByTagName('body')[0].appendChild(square);
              } 
            }
          };

      sentence = document.getElementById('example-sentence');
      sentence.innerHTML = dictSentences[Math.floor(Math.random() * dictSentences.length)]; 
      // Hide all posts.
      posts = document.getElementById('all-content');
      if(posts.style.display != 'none') {
        posts.style.display = 'none';
      }

      writes = document.getElementById('writes');
      writes.onclick = function() {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      if(window.location.pathname !== '/' || window.location.hash === '#writing') {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      window.onresize = function() {
        yStart = window.innerHeight/size;
        generateBlocks();
      }
      generateBlocks();
  </script>
</html>
