{% extends '/base.html' %}
{% block page_css %}
  <link rel="stylesheet" href="/css/parryc.css" />
  {% assets "parryc_css" %}
    <!--force assets to compile, while Flask fixes multi-host bug-->
    <!--<link rel="stylesheet" href="{{ ASSET_URL }}" />-->
  {% endassets %}
{% endblock %}
{% block header %}
parryblog . <a href="/">home</a> . <a href="/posts">posts</a>
{% endblock %}
{% block content %}
  <h1>Search</h1>
  <form action="/{{lang}}/search" method="post">
    <input type="text" placeholder="search" name="search"/>
    <br/>
    <select name="scope" style="width:150px;">
      <option>headword</option>
      <option>meaning</option>
      <option>both</option>
    </select>
    <input type="submit">Go!</input>
  </form>

  <h2>UNDER CONSTRUCTION!</h2>

  This is an on-going project to digitize Amjad Jaimoukha's 1997 Kabardian-English dictionary. It is going to take a while. Please email me with any questions or comments, but please do not email with typos until this notice is gone. :)

  <div style="width: 587px; border: 1px solid black; height: 1.5em; color: white;">
    <div style="width: 200px; background-color: black; height: 1.5em;">200/587pgs OCR'd</div>
  </div>

  <div style="width: 587px; border: 1px solid black; height: 1.5em;">
    <div style="width: 1px; background-color: black; height: 1.5em;">1/587pgs cleaned</div>
  </div>
  <br/><br/>
  <h3>change log</h3>
  <ul>
    <li>2021-01-21 First version uploaded, ~5000 entries</li>
  </ul>
{% endblock %}