{% extends '/base.html' %}
{% block page_css %}
    <link rel="stylesheet" href="/css/parryc.css"/>
    <link rel="preload" href="/css/fonts/source-code-pro/WOFF2/TTF/SourceCodePro-Regular.ttf.woff2" as="font" type="font/woff2" crossorigin/>
    <link rel="preload" href="/css/fonts/source-code-pro/WOFF2/TTF/SourceCodePro-Medium.ttf.woff2" as="font" type="font/woff2" crossorigin/>
    <link rel="prefetch" href="/css/fonts/bpg-ingiri/bpg-ingiri-webfont.woff2" as="font" type="font/woff2" crossorigin/>
    <link rel="prefetch" href="/css/fonts/source-code-pro/WOFF2/TTF/SourceCodePro-Bold.ttf.woff2" as="font" type="font/woff2" crossorigin/>
    <link rel="prefetch" href="/css/fonts/source-code-pro/WOFF2/TTF/SourceCodePro-It.ttf.woff2" as="font" type="font/woff2" crossorigin/>

    {% assets "parryc_css" %}
        <!--force assets to compile, while Flask fixes multi-host bug-->
        <!--<link rel="stylesheet" href="{{ ASSET_URL }}" />-->
    {% endassets %}
{% endblock %}
{% block header %}
    parryblog · <a href="/">home</a> · <a href="/posts">posts</a> · <a href="/language-notes">language notes</a>
{% endblock %}
{% block content  %}
    {% if override_title %}<h1>{{ override_title }}</h1>{% endif %}
    <div id="to-top"><a href="#top-link">[top]</a></div>
    {{html|safe}}
    <br/>
    {% if time %}
        <p>
           <em>Last Updated: {{ time }}</em>
        </p>
    {% endif %}
{% endblock %}