{% extends '/base.html' %}
{% block page_css %}
  <link rel="stylesheet" href="/css/corbin.css" />
  {% assets "corbin_css" %}
    <!--force assets to compile, while Flask fixes multi-host bug-->
    <!--<link rel="stylesheet" href="{{ ASSET_URL }}" />-->
  {% endassets %}
{% endblock %}
{% block header %}
<header style="font-weight: bold;">
  <a href="/">corbin dewitt</a> . <a href="/about">about</a> . <a href="/work">work</a>
</header>
{% endblock %}
{% block content  %}
  {{html|safe}}
{% endblock %}