<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Parry Cadwallader" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <link rel="stylesheet" type="text/css" href="/css/packed.css">
    <title>parryblog | The Sex Columnfesto</title>
  </head>
  <body>
    <div id="front-page">
      <article>
          <h1>Parry (<em>n</em>)</h1>
          A red-haired Minnesotan, commonly found in Berkeley. <br/>
          Known to <a href="http://record.beer">drink beer</a>, <a class="show-writing" href="http://leflan.eu/r/learns/languages">learn languages</a>, <a href="http://www.github.com/parryc">program</a>, take pictures, <a id="writes" href="/#writing">write</a>, and <a class="show-writing" href="/categories/travel">travel</a>.
          <br/>
          <br/>
          <em><span id="example-sentence">&#8275; once fought a bear to a draw. </span></em>
          <br/>
          <div class="center">
            <img id="front-image" src="/images/face-black-and-white.png"/>
          </div>
      </article>
    </div>
    <div id="all-content">
      <h1 class="page-title large-page-title">The Sex Columnfesto</h1>
<h1 class="page-title tiny-page-title">
	
		The Sex Column-festo
	
</h1>
<div class="category-list">

  <a href="/categories/humor" class="category">humor</a>

</div>
<article>
    <p>Earlier last week, while in stacks … researching … for my column, I discovered a tattered paperback. It was old, but it felt like it was imbued with great power. I flipped it over and stumbled back in shock: I had found a copy of the fabled <em>Cummunist Manifesto</em>. All sex columnists have heard of this most holy of sex books, fabled to expound on everything from clever sex position puns to Sun style guidelines when talking about STIs. Unfortunately, most of it seems to be an amalgamation of drunken Tumblr posts, but there are a few gems that could help free us from the bourgeois, capitalist parkas that hide the sexy undergarments of collectivized society.</p>

<p>In order to spare you all the burden of regrettable your / you’re typos, I have compiled the best sections written by Karl “Big Poppa” Marx ’83 and Friedrich “Oogles” Engels ’84 and reprinted it below.
<!-- more -->
<br /><br /><br /><br />
A spectre is haunting Cornell, the spectre of cummunism! All the powers of the old Ivy League have entered into an unholy alliance to exorcise this spectre. Friends, put on your oversized beards and join me in my quest to overthrow the repressive sexual system we live in. The bourgeois status quo we exist in is decadent and not in the Sader-Masoch-drinking-absinthe-rollicking-good-time sort of way. Today, nay, now as you read this, throw off your bourgeois, capitalist chains (and your clothing!) and join me in our quest for sex for everyone.</p>

<p>The road to realizing this dream is long, hard and wrapped in the constricting fabric of modern society. Revolution is not a one-night stand (though, perhaps, some one-night stands can be revolutionary). We must learn from the past. We know that the history of all hitherto existing society is the history of people just trying to get it on. But even then, do not be lulled by the false promises of the past. Do not collectivize co-eds into orgies! Do not wantonly sickle people with your hammer! Do not trust any partner who claims to great leap your sexual experience forward!</p>

<p>Yes, constant vigilance is required. There are those among our ranks who even now think to disrupt our journey towards bed and society shaking sex. If your partner acts like an animal, sounds like an animal, but walks like a human, he / she’s probably a capitalist. If your partner ever refers to your sex as doubleplusgood and insists on calling you Big Brother, your partner’s probably a fascist. If your partner’s Swedish, your partner’s probably a socialist.</p>

<p>Reject the petty bourgeois that always insist on being on top! Or on bottom! Or really any position that you’d prefer to be in, but they just won’t let you!
<br /><br />
<em>This is about where the authors start rambling and printing pictures of cats wearing giant beards, so I’m going to skip ahead to the ending passages.</em>
<br /><br />
Although we have previously mentioned the perils of past attempts to realize our goals, we can still look back into columns of yore for inspiration in our march forward. Remember the great minds of the yearly sex columnist meeting, The Cuminturn. Enver “Ain’t Nothing But A” Hoxha’s commentary brought forth the ideas of polyamory and openness in relationships. Mao “Likes” Zedong was an advocate for GLBT rights long before the general populace started to catch on. Sylvia Pankhurst, of “S-Pankhurst, Ask Later” fame, promoted deviant sexuality as a way of subverting the dogmatic sexual mores of the capitalist system. We would be nowhere without revolutionaries like these.</p>

<p>These men and women who have written before us have stoked the fires in our hearts and in our loins. Let your hot passions burst forth! Show the world that you have come, under the glory of the banner of the Cummunist Party, to destroy the bogus capitalist institution! Do not be scared to bare it all (of course in compliance with <a href="http://www.law.cornell.edu/nyctap/I92_0160.htm">New York State Penal Law 245.01</a>) and show the world that we will not settle for the bourgeois sexual system.
<br /><br />
STUDENTS OF THE WORLD HAVE SEX!
<br /><br /><br />
<em>Written under the pseudonym Jimothy Singh for the Cornell Daily Sun</em></p>

</article>
<a href="/#writing"><img src="/images/logo.png" id="stamp"/></a>

    </div>
  </body>
  <script type="text/javascript">
      var colors = ["#FFFAF1","rgb(111,176,235)","#222222"],
          size = 25,
          yStart = window.innerHeight/size,
          dictSentences = [
            "&#8275; once fought a bear to a draw. ",
            "&#8275; is never gonna give you up. ",
            "Once upon a midnight dreary, &#8275; pondered weak and weary.",
            "&#8275; spent 6 months in a leaky boat",
            "Danger, &#8275;, danger!",
            "You can lead a &#8275; to a computer, but you can't make him code."
          ],
          generateBlocks = function() {
            var old = document.getElementsByClassName('footer-block');
            for(i=old.length-1;i>=0; --i) {
              old[i].parentNode.removeChild(old[i]);
            }
            for (var x = window.innerWidth/size+1; x >= 0; x--){    
              for (var y = yStart+1; y >= yStart-4; y--) {
                var square = document.createElement('div');
                square.className = "footer-block";
                square.style.height = "25px";
                square.style.width = "25px";
                square.style.position = "fixed";
                square.style.top = (size*y)+"px";
                square.style.left = (size*(x-1))+"px";
                square.style['z-index'] = 2;
                square.style.opacity = 1-(yStart-y)/4;

                square.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
                document.getElementsByTagName('body')[0].appendChild(square);
              } 
            }
          };

      sentence = document.getElementById('example-sentence');
      sentence.innerHTML = dictSentences[Math.floor(Math.random() * dictSentences.length)]; 
      // Hide all posts.
      posts = document.getElementById('all-content');
      if(posts.style.display != 'none') {
        posts.style.display = 'none';
      }

      writes = document.getElementById('writes');
      writes.onclick = function() {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      if(window.location.pathname !== '/' || window.location.hash === '#writing') {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      window.onresize = function() {
        yStart = window.innerHeight/size;
        generateBlocks();
      }
      generateBlocks();
  </script>
</html>
