body {
  font-size: 22px;
  line-height: 1.4;
  font-family: "PT Serif","Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(255,110,110);;
}

article {
  width: 85%;
  max-width: calc(85% - 1rem);
}

aside {
  width: 15%;
  max-width: calc(15% - 1rem);
  padding-top: 25px;
}

code {
  color: #444;
  background: #efefef;
  font-family: "Source Code Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  word-break: break-all;
  word-wrap: break-word;
  font-size: inherit !important;
  border-radius: 0.35rem;
  padding: 0.15rem;
}

h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 15px;
  background-color: rgb(255,110,110);
  color: white;
  border-bottom: none;
}

section {
  padding-top: 10px;
  margin-bottom: -5px;
}

tag:before {
  content: '#';
  color: rgb(255,110,110);
}

@media screen and (max-width: 40rem) {
  article {
    width: inherit;
    max-width: inherit;
  }

  aside {
    width: inherit;
    max-width: inherit;
  }
}