body {
  font-size: 18px;
  line-height: 1.4;
  font-family: "Cormorant","Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #efcc0a;
}

article {
  width: 85%;
  max-width: calc(85% - 1rem);
}

aside {
  width: 25%;
  max-width: calc(25% - 1rem);
  padding-top: 25px;
}

section {
  padding-top: 10px;
  margin-bottom: -5px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: bold; 
}

h3 {
  font-size: 1.2em;
}

tag:before {
  content: '#';
  color: rgb(255,110,110);
}

header {
  margin-bottom: 2em;
}

@media screen and (max-width: 40rem) {
  article {
    width: inherit;
    max-width: inherit;
  }

  aside {
    width: inherit;
    max-width: inherit;
  }
}