h1,h2,h3,h4,h5,h6,body {
  font-family: "Source Code Pro","Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-size: 22px;
  line-height: 1.4;
}

a {
  color: rgb(255,110,110);;
}

abbr {
  font-variant: small-caps;
  font-size: 0.8em;
}

article {
  width: 75%;
  max-width: calc(75% - 1rem);
}

aside {
  width: 25%;
  max-width: calc(25% - 1rem);
  padding-top: 25px;
}

blockquote {
  border-left: .4rem solid rgba(255, 110, 110, 0.65);
}

cite {
  vertical-align: super;
  font-size: .6em;
}

dt:before, note:before {
  content: '❧';
  padding-right: 5px;
}

h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 15px;
  background-color: rgb(255,110,110);
  color: white;
  border-bottom: none;
}

pt:before {
  content: '(pt. ';
  font-variant: small-caps;
}

pt:after {
  content: ')';
}

pt {
  font-style: italic;
  padding-left: 0.8em;
}

section {
  padding-top: 10px;
  margin-bottom: -5px;
}

sup {
  font-size: .5em;
}

table {
  white-space: nowrap;
}

td {
  text-align: left;
}

/* Don't allow the PDF page splitting to
   break inside of a table row */
tr {
  page-break-inside: avoid !important;
}

tag:before {
  content: '#';
  color: black;
}

tag {
  font-style: italic;
}

.footnote > ol {
  margin-left: 1em;
}

/*************
Typesetting for Lithuanian pitch accents

When adding pitch accent marks, the tittle must still be there
as well as having the actual accent mark look nice. Most fonts,
since I can't imagine they know much about Lithuanian pitch accent
typography, render these groups of combining marks quite poorly.

The usage of these is _mažai<grave></grave>s_ which would be rendered
as _mažai`s_, but with the ` over the dot of the i.
**************/

ac:before {
  content: '´';
}

ac {
  position: relative;
  left: -.57em;
  top: -.2em;
  margin-right: -.57em;
}

gr:before {
  content: '`';
}

gr {
  position: relative;
  left: -.57em;
  top: -.2em;
  margin-right: -.57em;
}

ti:before {
  content: '˜';
}

ti {
  position: relative;
  left: -.57em;
  top: -.25em;
  margin-right: -.57em;
}


/******************
Dictionary entries
******************/

/*.declensions table {
  display: none;
}*/

.declensions table {
  overflow-x: scroll;
  width: 130% !important;
  display: none;
}

.headword {
  font-weight: bold;
  cursor: help;
}

.pos {
  font-style: italic;
}

.headword-info>.declensions table {
  color: none;
}

.headword-info:hover>.declensions table {
  display: block;
}

@media screen and (max-width: 40rem) {
  article {
    width: inherit;
    max-width: inherit;
  }

  aside {
    width: inherit;
    max-width: inherit;
  }

  table {
    overflow-x: scroll;
    max-width: inherit !important;
    display: block;
  }

  dd>table {
    display:none;
  }

  dt:hover+dd>table {
    margin-top: .75em;
    margin-left: -1em;
    display:table;
  }

  .headword-info:hover>.declensions table {
    display: block;
    max-width: calc(100% - 1rem) !important;
  }
}

@media print {
  table {
    white-space: normal;
  }
}