h1,h2,h3,h4,h5,h6,body {
  font-family: "Source Code Pro","Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-size: 22px;
  line-height: 1.4;
}

a {
  color: rgb(255,110,110);;
}

abbr {
  font-variant: small-caps;
  font-size: 0.8em;
}

article {
  width: 75%;
  max-width: calc(75% - 1rem);
}

aside {
  width: 25%;
  max-width: calc(25% - 1rem);
  padding-top: 25px;
}

dt:before, note:before {
  content: '❧';
  padding-right: 5px;
}

h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 15px;
  background-color: rgb(255,110,110);
  color: white;
  border-bottom: none;
}

pt:before {
  content: '(pt. ';
  font-variant: small-caps;
}

pt:after {
  content: ')';
}

pt {
  font-style: italic;
  padding-left: 0.8em;
}

section {
  padding-top: 10px;
  margin-bottom: -5px;
}

sup {
  font-size: .5em;
}

td {
  text-align: left;
}

tag:before {
  content: '#';
  color: black;
}

tag {
  font-style: italic;
}

@media screen and (max-width: 40rem) {
  article {
    width: inherit;
    max-width: inherit;
  }

  aside {
    width: inherit;
    max-width: inherit;
  }

  table {
    overflow-x: scroll;
    max-width: inherit !important;
    display: block;
  }
}