body {
  font-size: 22px;
  line-height: 1.4;
  font-family: "Segoe UI Emoji", "PT Serif","Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgb(250,250,250);
}

a {
  color: rgb(255,110,110);
}

article {
  width: 85%;
  max-width: calc(85% - 1rem);
}

aside {
  width: 15%;
  max-width: calc(15% - 1rem);
  padding-top: 25px;
}

code {
  color: #444;
  background: #efefef;
  font-family: "Source Code Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  word-break: break-all;
  word-wrap: break-word;
  font-size: inherit !important;
  border-radius: 0.35rem;
  padding: 0.15rem;
}

h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 15px;
  background-color: rgb(255,110,110);
  color: white;
  border-bottom: none;
}

section {
  padding-top: 10px;
  margin-bottom: -5px;
}

tag:before {
  content: '#';
  color: rgb(255,110,110);
}

/* TOPURIA */

span:lang('sva') {
  border: 1px solid black;
  font-family: "Arial"; /* gotta render the accents correctly */
}

pre:lang('sva') {
  background: inherit;
  font-size: 1.0em;
  border: 1px solid black;
  width: max-content;
}

sup {
  font-size: 0.6em;
}

.unknown {
  color: cyan;
  background-color: black;
}


@media screen and (max-width: 40rem) {
  article {
    width: inherit;
    max-width: inherit;
  }

  aside {
    width: inherit;
    max-width: inherit;
  }
}