<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Parry Cadwallader" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <link rel="stylesheet" type="text/css" href="/css/packed.css">
    <title>parryblog | Land of Opportunity</title>
  </head>
  <body>
    <div id="front-page">
      <article>
          <h1>Parry (<em>n</em>)</h1>
          A red-haired Minnesotan, commonly found in Berkeley. <br/>
          Known to <a href="http://record.beer">drink beer</a>, <a class="show-writing" href="http://leflan.eu/r/learns/languages">learn languages</a>, <a href="http://www.github.com/parryc">program</a>, take pictures, <a id="writes" href="/#writing">write</a>, and <a class="show-writing" href="/categories/travel">travel</a>.
          <br/>
          <br/>
          <em><span id="example-sentence">&#8275; once fought a bear to a draw. </span></em>
          <br/>
          <div class="center">
            <img id="front-image" src="/images/face-black-and-white.png"/>
          </div>
      </article>
    </div>
    <div id="all-content">
      <h1 class="page-title large-page-title">Land of Opportunity</h1>
<h1 class="page-title tiny-page-title">
	
		Land of Oppor-tunity
	
</h1>
<div class="category-list">

  <a href="/categories/china" class="category">china</a>

  <a href="/categories/travel" class="category">travel</a>

</div>
<article>
    <p>Every semester CET plans a rip-roaring adventure to some city other than Harbin, most likely in order to convince students that not all of China is cold.  The way they go about accomplishing this goal is actually quite clever: by going south. 12 hours south via train, to be precise.  Now you may be thinking “the title says land of opportunity, I was unaware NAME-OF-YOUR-COUNTRY (to appeal to a wider audience) was south of China.”  And you would be right, unless you’re from North Korea.  But you’re not. (If you are, please comment otherwise).</p>

<p>Yes, that’s right, CET Spring Semester 2012 “Road” Trip was to Dandong, a large Chinese city on the North Korean border.  Now, clearly none of the activities involved crossing the border (unfortunately), but a lot of them involved looking at North Korea, which is surprisingly fun.  For instance, we got to look at North Koreans farm while we stood on a portion of the Great Wall.  We were literally a stone’s throw away. (If me throwing a stone into N. Korean broke any international laws, then I was figuratively a stone’s throw away). I now have the entire life of a North Korean cow documented. It mostly involves eating and drinking.
<!-- more -->
While the pictures will probably do more justice to my words than attempting to describe the picturesque Dongbei countryside and North Korean wonderland, there is one thing that pictures will never be able to accurately portray (mostly because I don’t have any):</p>

<p>I danced with a North Korean.</p>

<p>No, not one of those I’m-Dreaming-Sleeping-Beauty-I-Walked-With-You-Onced-Upon-A-Disney-Movie sort of thing, but I  did the whole hand-in-hand, I’m gonna spin you around and shake my booty like a fool routine.  In front of all of my peers, in a restaurant owned by the North Korean government.  I currently have no more goals or aspirations.  If you see my grades slip it’s because I spend all day dreaming about the experience.</p>

<p>And now here comes the last third of the program.  Harbin is starting to feel like home (well, it always felt like home, because Minnesota is also always winter).  I have a close group of friends, a wide range of acquaintances and the weather is absolutely wonderful for night time strolls.  And now off to calligraphy class (i.e. Parry stands around and pretends he knows how to control his hand).</p>

<p>For those interested, the pictures are of the Great Wall, a view of N. Korea from the Great Wall, a shallow river outside of one of our hotels, a view of the Qingshan valley, and the China-North Korean Friendship Bridge. Because there’s no better way to say friendship than cold, hard steel.</p>

<figure>
	<img src="/images/harbin-nk1.jpg" />
</figure>
<figure>
	<img src="/images/harbin-nk2.jpg" />
</figure>
<figure>
	<img src="/images/harbin-nk3.jpg" />
</figure>
<figure>
	<img src="/images/harbin-nk4.jpg" />
</figure>
<figure>
	<img src="/images/harbin-nk5.jpg" />
</figure>

</article>
<a href="/#writing"><img src="/images/logo.png" id="stamp"/></a>

    </div>
  </body>
  <script type="text/javascript">
      var colors = ["#FFFAF1","rgb(111,176,235)","#222222"],
          size = 25,
          yStart = window.innerHeight/size,
          dictSentences = [
            "&#8275; once fought a bear to a draw. ",
            "&#8275; is never gonna give you up. ",
            "Once upon a midnight dreary, &#8275; pondered weak and weary.",
            "&#8275; spent 6 months in a leaky boat",
            "Danger, &#8275;, danger!",
            "You can lead a &#8275; to a computer, but you can't make him code."
          ],
          generateBlocks = function() {
            var old = document.getElementsByClassName('footer-block');
            for(i=old.length-1;i>=0; --i) {
              old[i].parentNode.removeChild(old[i]);
            }
            for (var x = window.innerWidth/size+1; x >= 0; x--){    
              for (var y = yStart+1; y >= yStart-4; y--) {
                var square = document.createElement('div');
                square.className = "footer-block";
                square.style.height = "25px";
                square.style.width = "25px";
                square.style.position = "fixed";
                square.style.top = (size*y)+"px";
                square.style.left = (size*(x-1))+"px";
                square.style['z-index'] = 2;
                square.style.opacity = 1-(yStart-y)/4;

                square.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
                document.getElementsByTagName('body')[0].appendChild(square);
              } 
            }
          };

      sentence = document.getElementById('example-sentence');
      sentence.innerHTML = dictSentences[Math.floor(Math.random() * dictSentences.length)]; 
      // Hide all posts.
      posts = document.getElementById('all-content');
      if(posts.style.display != 'none') {
        posts.style.display = 'none';
      }

      writes = document.getElementById('writes');
      writes.onclick = function() {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      if(window.location.pathname !== '/' || window.location.hash === '#writing') {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      window.onresize = function() {
        yStart = window.innerHeight/size;
        generateBlocks();
      }
      generateBlocks();
  </script>
</html>
