<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Parry Cadwallader" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <link rel="stylesheet" type="text/css" href="/css/packed.css">
    <title>parryblog | Road Trip! Sort of!</title>
  </head>
  <body>
    <div id="front-page">
      <article>
          <h1>Parry (<em>n</em>)</h1>
          A red-haired Minnesotan, commonly found in Berkeley. <br/>
          Known to <a href="http://record.beer">drink beer</a>, <a class="show-writing" href="http://leflan.eu/r/learns/languages">learn languages</a>, <a href="http://www.github.com/parryc">program</a>, take pictures, <a id="writes" href="/#writing">write</a>, and <a class="show-writing" href="/categories/travel">travel</a>.
          <br/>
          <br/>
          <em><span id="example-sentence">&#8275; once fought a bear to a draw. </span></em>
          <br/>
          <div class="center">
            <img id="front-image" src="/images/face-black-and-white.png"/>
          </div>
      </article>
    </div>
    <div id="all-content">
      <h1 class="page-title large-page-title">Road Trip! Sort of!</h1>
<h1 class="page-title tiny-page-title">
	
		Road Trip! Sort of!
	
</h1>
<div class="category-list">

  <a href="/categories/travel" class="category">travel</a>

  <a href="/categories/uk" class="category">uk</a>

</div>
<article>
    <p>There comes a time in every young man’s life where home becomes like corset: slimming, made of whale bones, but ultimately, constricting. For me, that time is now. Well, technically, 3 hours from now.</p>

<p>I should back up, perhaps. I have three friends, let’s call them Jim, Bob, and Franz, to illustrate my friend group’s lack of ethnic diversity. Jim, Bob, Franz, and I have been friends since before we had enough mental faculty to realize that we probably should find other people to be friends with. Over the years, mutual hate has kept us together. And over these years we have planned countless times to do something epic and worth of the epicness contained in our friend group. Thus, we went to Duluth for a night. Which, when all was said and done, we realize was about par for the course when it came to 4 Minnesotans deciding to “road trip.”
<!-- more -->
However, that was freshman year. We are no longer naive to the world! (We still are naive to other things: women, balancing budgets, and literary metaphors - so don’t worry, we haven’t grown up too much) Now, do a series of fortunate maneuverings and happenstances, we will all have the opportunity to be in LONDON together. Yes, LONDON. Land of bangers! Land of mash! Land of both of those together on the same plate!</p>

<p>So, my faithful reader(s), stay tuned for more adventures (bulleted lists of things we saw)! The British won’t know what hit them. (spoiler: American fists!)</p>

</article>
<a href="/#writing"><img src="/images/logo.png" id="stamp"/></a>

    </div>
  </body>
  <script type="text/javascript">
      var colors = ["#FFFAF1","rgb(111,176,235)","#222222"],
          size = 25,
          yStart = window.innerHeight/size,
          dictSentences = [
            "&#8275; once fought a bear to a draw. ",
            "&#8275; is never gonna give you up. ",
            "Once upon a midnight dreary, &#8275; pondered weak and weary.",
            "&#8275; spent 6 months in a leaky boat",
            "Danger, &#8275;, danger!",
            "You can lead a &#8275; to a computer, but you can't make him code."
          ],
          generateBlocks = function() {
            var old = document.getElementsByClassName('footer-block');
            for(i=old.length-1;i>=0; --i) {
              old[i].parentNode.removeChild(old[i]);
            }
            for (var x = window.innerWidth/size+1; x >= 0; x--){    
              for (var y = yStart+1; y >= yStart-4; y--) {
                var square = document.createElement('div');
                square.className = "footer-block";
                square.style.height = "25px";
                square.style.width = "25px";
                square.style.position = "fixed";
                square.style.top = (size*y)+"px";
                square.style.left = (size*(x-1))+"px";
                square.style['z-index'] = 2;
                square.style.opacity = 1-(yStart-y)/4;

                square.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
                document.getElementsByTagName('body')[0].appendChild(square);
              } 
            }
          };

      sentence = document.getElementById('example-sentence');
      sentence.innerHTML = dictSentences[Math.floor(Math.random() * dictSentences.length)]; 
      // Hide all posts.
      posts = document.getElementById('all-content');
      if(posts.style.display != 'none') {
        posts.style.display = 'none';
      }

      writes = document.getElementById('writes');
      writes.onclick = function() {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      if(window.location.pathname !== '/' || window.location.hash === '#writing') {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      window.onresize = function() {
        yStart = window.innerHeight/size;
        generateBlocks();
      }
      generateBlocks();
  </script>
</html>
