<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Parry Cadwallader" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <link rel="stylesheet" type="text/css" href="/css/packed.css">
    <title>parryblog | A Foreplaylist</title>
  </head>
  <body>
    <div id="front-page">
      <article>
          <h1>Parry (<em>n</em>)</h1>
          A red-haired Minnesotan, commonly found in Berkeley. <br/>
          Known to <a href="http://record.beer">drink beer</a>, <a class="show-writing" href="http://leflan.eu/r/learns/languages">learn languages</a>, <a href="http://www.github.com/parryc">program</a>, take pictures, <a id="writes" href="/#writing">write</a>, and <a class="show-writing" href="/categories/travel">travel</a>.
          <br/>
          <br/>
          <em><span id="example-sentence">&#8275; once fought a bear to a draw. </span></em>
          <br/>
          <div class="center">
            <img id="front-image" src="/images/face-black-and-white.png"/>
          </div>
      </article>
    </div>
    <div id="all-content">
      <h1 class="page-title large-page-title">A Foreplaylist</h1>
<h1 class="page-title tiny-page-title">
	
		A Foreplay-list
	
</h1>
<div class="category-list">

  <a href="/categories/humor" class="category">humor</a>

</div>
<article>
    <p>There are a lot of ways to spice up your sex life. Some people use chocolate underwear and candy bras. Some people go to exotic locations. Some use real spices. None of these are bad. If anything, they are quite a good way of getting out of repetitive sex. I, however, am a great supporter of the people that hearken back to days of yore, when in order to drown out the sounds of the cattle lowing, they turned on the radio and humped along with FDR’s fireside chat.</p>

<p>Now, I understand that most of you don’t have giant wooden radio sets that can aid you in foreplay and thus understandably have no access to new music. To assist you, I have listed some of my favorite songs to help the mood along.
<!-- more -->
###The Basics:###</p>

<p>Obviously, you can tweak the ordering to suit your specific situation, but the following can be used to make a night go from, “Ok, so, looks like I’m going to give you an awkward hug goodbye” to “Do you want bacon with your eggs?”</p>

<h4 id="electric-feel-by-mgmt">“Electric Feel” by MGMT</h4>

<p>Start the denouement with this to either keep the energy going or to pick it up if it’s starting to lag. Don’t forget that the whole point is to show the guy / girl your electric feel (or electric eel, if you have one).</p>

<h4 id="heavens-on-fire-by-the-radio-dept">“Heaven’s On Fire” by The Radio Dept.</h4>

<p>Sometimes the mood isn’t clear yet — this’ll make it clear that “Yes, I want to sleep with you.” Just ignore the “reach for a piano wire” line, unless, you know, you’re into that.</p>

<h4 id="lets-get-it-on-by-marvin-gaye">“Let’s Get It On” by Marvin Gaye</h4>

<p>The Radio Dept. will move the conversation to the bedroom, so it’s time to pop this baby on and get the night going.</p>

<h4 id="paradise-by-the-dashboard-lights-by-meat-loaf">“Paradise By the Dashboard Lights” by Meat Loaf</h4>

<p>Now, not everyone hits a home run with Marvin, so you might need to quick switch to another tactic. It has a great lead and gives your partner a chance to give a final no. What’s better than orgasmic build up and consent?</p>

<h4 id="elephant-love-medley-from-moulin-rouge">“Elephant Love Medley” from Moulin Rouge</h4>

<p>For the post-coital cuddling. As a compilation of all the best love songs, you’ll be able to find some line that your partner knows and it’ll seal the deal. I highly suggest memorizing the entire duet just to be on the safe side.</p>

<h3 id="push-the-envelope">Push the envelope:</h3>

<p>If you’re already comfortable with your partner, it might be time to try mixing it up. Throw in one of these two to give the night a new thrill.</p>

<h4 id="scary-monsters-and-nice-sprites-by-skrillex">“Scary Monsters and Nice Sprites” by Skrillex</h4>

<p>You and your partner have about 40 seconds to foreplay it up so that you’re both yelling “YES OH MY GOD” in time to the bass drop. For an extra challenge, try coming on as many drops as possible.</p>

<h4 id="i-would-do-anything-for-love-by-meat-loaf">“I Would Do Anything For Love” by Meat Loaf</h4>

<p>Take a moment to try something out you wouldn’t normally think to do for the seven minutes of this song: Bring in a dwarf, put on the snorkel gear, dress up as Bill and Hillary Clinton — the possibilities are endless!</p>

<h3 id="get-out-of-there-fast">Get out of there fast:</h3>

<p>Some men and women you might try to get with may already have a playlist. Here are two songs that come up often that should be avoided at all cost. Trust me on this one.</p>

<h4 id="fireflies-by-owl-city">“Fireflies” by Owl City</h4>

<p>If this song comes up, get out of there. Now. If you’re thinking to yourself, “Wait, what’s wrong with that?” then there’s nothing I can say to save you. Godspeed and good luck.</p>

<h4 id="ill-make-a-man-out-of-you-by-that-dude-from-mulan">“I’ll Make a Man Out of You” by that dude from Mulan</h4>

<p>If you’re hearing this as a guy it is at best emasculating and at worst you’re not so subtly being told you lack the ability to fight the Huns. As a woman, it’s a harsh way of finding out you’re not the preferred gender for nighttime fun.
<br /><br /><br />
<em>Written under the pseudonym Jimothy Singh for the Cornell Daily Sun</em></p>

</article>
<a href="/#writing"><img src="/images/logo.png" id="stamp"/></a>

    </div>
  </body>
  <script type="text/javascript">
      var colors = ["#FFFAF1","rgb(111,176,235)","#222222"],
          size = 25,
          yStart = window.innerHeight/size,
          dictSentences = [
            "&#8275; once fought a bear to a draw. ",
            "&#8275; is never gonna give you up. ",
            "Once upon a midnight dreary, &#8275; pondered weak and weary.",
            "&#8275; spent 6 months in a leaky boat",
            "Danger, &#8275;, danger!",
            "You can lead a &#8275; to a computer, but you can't make him code."
          ],
          generateBlocks = function() {
            var old = document.getElementsByClassName('footer-block');
            for(i=old.length-1;i>=0; --i) {
              old[i].parentNode.removeChild(old[i]);
            }
            for (var x = window.innerWidth/size+1; x >= 0; x--){    
              for (var y = yStart+1; y >= yStart-4; y--) {
                var square = document.createElement('div');
                square.className = "footer-block";
                square.style.height = "25px";
                square.style.width = "25px";
                square.style.position = "fixed";
                square.style.top = (size*y)+"px";
                square.style.left = (size*(x-1))+"px";
                square.style['z-index'] = 2;
                square.style.opacity = 1-(yStart-y)/4;

                square.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
                document.getElementsByTagName('body')[0].appendChild(square);
              } 
            }
          };

      sentence = document.getElementById('example-sentence');
      sentence.innerHTML = dictSentences[Math.floor(Math.random() * dictSentences.length)]; 
      // Hide all posts.
      posts = document.getElementById('all-content');
      if(posts.style.display != 'none') {
        posts.style.display = 'none';
      }

      writes = document.getElementById('writes');
      writes.onclick = function() {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      if(window.location.pathname !== '/' || window.location.hash === '#writing') {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      window.onresize = function() {
        yStart = window.innerHeight/size;
        generateBlocks();
      }
      generateBlocks();
  </script>
</html>
