<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Parry Cadwallader" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <link rel="stylesheet" type="text/css" href="/css/packed.css">
    <title>parryblog | Kazakh-stan 2&#58; Revenge of the Mambyets</title>
  </head>
  <body>
    <div id="front-page">
      <article>
          <h1>Parry (<em>n</em>)</h1>
          A red-haired Minnesotan, commonly found in Berkeley. <br/>
          Known to <a href="http://record.beer">drink beer</a>, <a class="show-writing" href="http://leflan.eu/r/learns/languages">learn languages</a>, <a href="http://www.github.com/parryc">program</a>, take pictures, <a id="writes" href="/#writing">write</a>, and <a class="show-writing" href="/categories/travel">travel</a>.
          <br/>
          <br/>
          <em><span id="example-sentence">&#8275; once fought a bear to a draw. </span></em>
          <br/>
          <div class="center">
            <img id="front-image" src="/images/face-black-and-white.png"/>
          </div>
      </article>
    </div>
    <div id="all-content">
      <h1 class="page-title large-page-title">Kazakh-stan 2&#58; Revenge of the Mambyets</h1>
<h1 class="page-title tiny-page-title">
	
		Kazakh-stan 2&#58; Revenge of the Mambyets
	
</h1>
<div class="category-list">

  <a href="/categories/kazakhstan" class="category">kazakhstan</a>

  <a href="/categories/the-netherlands" class="category">the netherlands</a>

  <a href="/categories/travel" class="category">travel</a>

</div>
<article>
    <p>Hello reader of my blog! Yes you! It’s that time of the year again: Parry goes traveling! However, as this was over winter break, it was only Amsterdam for one day and then Almaty for a week. (Hmm. AA. I wonder if that’s indicative of anything……no, of course not.)</p>

<p>As Amsterdam was more of a layover consisting of me walking in circles for 6 hours and then passing out on my hotel bed at 8pm from jet lag, we’ll skip that.</p>

<p>Kazakhstan though, Kazakhstan is the place to be. Let me start by explaining my title. What is a mambyet? Imagine a state, let’s call it New Jersey. Now imagine that that state is filled with people who exist only to destroy any hope that intelligence is default in the human species. Did your thoughts stray to Iowa? If so, that’s ok, Jersey and Iowa are both acceptable examples of this behavior. You may still be a little confused, am I right? A mambyet, for example might where sunglasses at night, not so he can, so he can keep track of visions in his eyes, but because he was unaware that sunglasses are used while the sun is up. People have moonglasses for a reason. They also look vaguely like their parents beat them with frying pans for not taking the trash out.</p>

<p>You have been warned.
<!-- more -->
Now, you might ask, what have I been doing for this break? A better question is “What did you enjoy most about this break?” A more appropriate question might be “What do you remember about this break?” A more embarrassing question might be “Do you remember talking to that Korean girl at the karaoke club?”</p>

<p>In order the answers are chilling; chilling; all of it, of course; and apparently not all of it.</p>

<p>To more precise, a few things were done that one might not expect. In particular: staying over night at an “athletes only” hotel at an ice rink in the mountains and going to Swan Lake at the Almaty Theatre. The ice rink was pretty swank, even if the hotel room smelled like varnish. Imagine your average ice rink, multiply it by 3, put a giant tv screen, techno music, pretty Kazakh girls, and 30 year old men who only skate backwards. Got that? Yeah, that’s how we roll.</p>

<p>The same almost applies for Swan Lake, minus the ice, minus math, minus TV, and minus men skating. It was mostly pretty women and super awesome ballerinas (is a male ballerina a ballerino?… like a rhino.). The jester, in particular, was fabulous. The place itself was very well done and the preformace was very enchanting. On that note: <em>Fall in love with an enchanting woman, not an enchated one.</em> Y’know, in case you were unsure.</p>

<p>Now, you must be thinking, Parry, that was 3 days at most, what else did you do? Let me introduce you to a game called Counter Strike.</p>

<p>Counter Strike (CS) is a game that is one part humilation, one part humilation, and one part being shot in the head. This is an interesting game. If you play, you lose. If you try to prolong your existence you lose. If you try to preemptively end other players’ lives…you lose. Essentially, the only way for you to win is to not play. However, you still lose. Because that means you have to stay at the computer club till everyone is done playing so you can get a ride home. This is particularly annoying if you happen to not know any Russian and thus cannot get a taxi. Thus, you play. I’d say that next time I’m sticking to solitaire, but I accidentially helped my team win twice. And you know what they say about accidents: “Oh my god Parry, how the hell did you do that? Did you just spastically click the mouse? You did? Ok, thank god, I was worried you developed skills.”</p>

<p>Actually, no one said that. I’m just assuming that’s what the angry yelling in Russian was. It may have also been “Hurray, the American is only a failure 1/45th of the time!”</p>

<p>Don’t worry guys, I’m going to spend most of my next 5 months of waking hours honing my skills. When I come back: bam. 3 accidental wins.</p>

<p>One last thing of interest is a Kazakh tradition called Tamade (not to be confused with the Chinese term 他妈的 which means…well, if I wanted to make rude suggestions about your mother, I’d probably say it.). Tamade is a person who stands up and makes a joke or remark about each person in attendences and asks them to say a toast to the star of the party. This weekend we celebrated Ilyas’ birthday…and I was suggested (forced.) as tamade. You can imagine my trepidation at wanting to stand up in a Scottish pub in the middle of a table of Kazakhs and make jokes about all of them. It wasn’t the joking around that had me worried, it was the fact that I was in a Scottish pub in the middle of Kazakhstan listening to an old white man mumble 70’s rock classics into a microphone. This, as a general concept, is slightly terrifying, but mostly confusing.</p>

<p>Needless to say, it went off with out Hitch, I mean, a hitch. If Will Smith came, then damn, that would have been an (even more) awesome party. After the party we went out to karaoke. We sang. We danced. I made a fool of myself. You can ask others for details.</p>

<p>Thus, in a tiny, digital nutshell, this was a week in Kazakhstan. Hopefully some little tibits about this awesome country came through. It’s also 2:15am and I leave in 7 hours, so here’s to hoping most of it made sense.</p>

</article>
<a href="/#writing"><img src="/images/logo.png" id="stamp"/></a>

    </div>
  </body>
  <script type="text/javascript">
      var colors = ["#FFFAF1","rgb(111,176,235)","#222222"],
          size = 25,
          yStart = window.innerHeight/size,
          dictSentences = [
            "&#8275; once fought a bear to a draw. ",
            "&#8275; is never gonna give you up. ",
            "Once upon a midnight dreary, &#8275; pondered weak and weary.",
            "&#8275; spent 6 months in a leaky boat",
            "Danger, &#8275;, danger!",
            "You can lead a &#8275; to a computer, but you can't make him code."
          ],
          generateBlocks = function() {
            var old = document.getElementsByClassName('footer-block');
            for(i=old.length-1;i>=0; --i) {
              old[i].parentNode.removeChild(old[i]);
            }
            for (var x = window.innerWidth/size+1; x >= 0; x--){    
              for (var y = yStart+1; y >= yStart-4; y--) {
                var square = document.createElement('div');
                square.className = "footer-block";
                square.style.height = "25px";
                square.style.width = "25px";
                square.style.position = "fixed";
                square.style.top = (size*y)+"px";
                square.style.left = (size*(x-1))+"px";
                square.style['z-index'] = 2;
                square.style.opacity = 1-(yStart-y)/4;

                square.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
                document.getElementsByTagName('body')[0].appendChild(square);
              } 
            }
          };

      sentence = document.getElementById('example-sentence');
      sentence.innerHTML = dictSentences[Math.floor(Math.random() * dictSentences.length)]; 
      // Hide all posts.
      posts = document.getElementById('all-content');
      if(posts.style.display != 'none') {
        posts.style.display = 'none';
      }

      writes = document.getElementById('writes');
      writes.onclick = function() {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      if(window.location.pathname !== '/' || window.location.hash === '#writing') {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      window.onresize = function() {
        yStart = window.innerHeight/size;
        generateBlocks();
      }
      generateBlocks();
  </script>
</html>
