<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Parry Cadwallader" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <link rel="stylesheet" type="text/css" href="/css/packed.css">
    <title>parryblog | om nom nom</title>
  </head>
  <body>
    <div id="front-page">
      <article>
          <h1>Parry (<em>n</em>)</h1>
          A red-haired Minnesotan, commonly found in Berkeley. <br/>
          Known to <a href="http://record.beer">drink beer</a>, <a class="show-writing" href="http://leflan.eu/r/learns/languages">learn languages</a>, <a href="http://www.github.com/parryc">program</a>, take pictures, <a id="writes" href="/#writing">write</a>, and <a class="show-writing" href="/categories/travel">travel</a>.
          <br/>
          <br/>
          <em><span id="example-sentence">&#8275; once fought a bear to a draw. </span></em>
          <br/>
          <div class="center">
            <img id="front-image" src="/images/face-black-and-white.png"/>
          </div>
      </article>
    </div>
    <div id="all-content">
      <h1 class="page-title large-page-title">om nom nom</h1>
<h1 class="page-title tiny-page-title">
	
		om nom nom
	
</h1>
<div class="category-list">

  <a href="/categories/travel" class="category">travel</a>

  <a href="/categories/us" class="category">us</a>

</div>
<article>
    <p>The first entry is supposed to be about how you’ve found your goal in life, how travel has freed you from your earthly bonds and you’re soul is soaring in the freedom right?</p>

<p>This one is definitely how I’ve found that I’ve gained a belt size or two…or three…or nine. Los Angeles is filled with food. Did you know that it is possible to have more than one sushi restaurant on the same steet? Minnesota has made me think that sushi is the holy grail of foods, that one’s inability to find good sushi is some how inherent to its effervescent nature on this earth. (What exactly did I just say there…?). Anyways. Sushi. Lots and lots of sushi. I wore my “Delicious Sushi” shirt today in honor of the many rolls of sushi resting in mah belly. We also had Korean (I’m going to marry a Korean chef…or a Korean bbq plate. Almost the same.) and lunch on the beach.
<!-- more -->
<strong>Beaches.</strong> I do so enjoy beaches. Beaches stretching out into the distance and blue water flowing out so far you can’t see the other side (Lake Superior doesn’t count.). And warmth. Did you know that there are places in the United States where it is warm? Where 70 in June is “unseasonably nippy?”</p>

<p>So yeah, screw China. Does China have beaches (that won’t kill you) or oceans (again, that won’t kill you)? No. Though I’m pretty sure there’s a gentleman in an alleyway that swears he has a beach just for you, his foreign friend.</p>

<p>Wait, shoot, the airlines didn’t read that did they? I mean….uh. I love China. 我爱中国! 中国比美国好得多! <strong>Let me on your planes!!!</strong></p>

<p>I’m sorry, you should just stop now. These entries aren’t going to get any more coherent as I slowly but surely lose the ability to speak the language of my youth (ebonics).</p>

</article>
<a href="/#writing"><img src="/images/logo.png" id="stamp"/></a>

    </div>
  </body>
  <script type="text/javascript">
      var colors = ["#FFFAF1","rgb(111,176,235)","#222222"],
          size = 25,
          yStart = window.innerHeight/size,
          dictSentences = [
            "&#8275; once fought a bear to a draw. ",
            "&#8275; is never gonna give you up. ",
            "Once upon a midnight dreary, &#8275; pondered weak and weary.",
            "&#8275; spent 6 months in a leaky boat",
            "Danger, &#8275;, danger!",
            "You can lead a &#8275; to a computer, but you can't make him code."
          ],
          generateBlocks = function() {
            var old = document.getElementsByClassName('footer-block');
            for(i=old.length-1;i>=0; --i) {
              old[i].parentNode.removeChild(old[i]);
            }
            for (var x = window.innerWidth/size+1; x >= 0; x--){    
              for (var y = yStart+1; y >= yStart-4; y--) {
                var square = document.createElement('div');
                square.className = "footer-block";
                square.style.height = "25px";
                square.style.width = "25px";
                square.style.position = "fixed";
                square.style.top = (size*y)+"px";
                square.style.left = (size*(x-1))+"px";
                square.style['z-index'] = 2;
                square.style.opacity = 1-(yStart-y)/4;

                square.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
                document.getElementsByTagName('body')[0].appendChild(square);
              } 
            }
          };

      sentence = document.getElementById('example-sentence');
      sentence.innerHTML = dictSentences[Math.floor(Math.random() * dictSentences.length)]; 
      // Hide all posts.
      posts = document.getElementById('all-content');
      if(posts.style.display != 'none') {
        posts.style.display = 'none';
      }

      writes = document.getElementById('writes');
      writes.onclick = function() {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      if(window.location.pathname !== '/' || window.location.hash === '#writing') {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      window.onresize = function() {
        yStart = window.innerHeight/size;
        generateBlocks();
      }
      generateBlocks();
  </script>
</html>
