<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Parry Cadwallader" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <link rel="stylesheet" type="text/css" href="/css/packed.css">
    <title>parryblog | Happy Fourth!</title>
  </head>
  <body>
    <div id="front-page">
      <article>
          <h1>Parry (<em>n</em>)</h1>
          A red-haired Minnesotan, commonly found in Berkeley. <br/>
          Known to <a href="http://record.beer">drink beer</a>, <a class="show-writing" href="http://leflan.eu/r/learns/languages">learn languages</a>, <a href="http://www.github.com/parryc">program</a>, take pictures, <a id="writes" href="/#writing">write</a>, and <a class="show-writing" href="/categories/travel">travel</a>.
          <br/>
          <br/>
          <em><span id="example-sentence">&#8275; once fought a bear to a draw. </span></em>
          <br/>
          <div class="center">
            <img id="front-image" src="/images/face-black-and-white.png"/>
          </div>
      </article>
    </div>
    <div id="all-content">
      <h1 class="page-title large-page-title">Happy Fourth!</h1>
<h1 class="page-title tiny-page-title">
	
		Happy Fourth!
	
</h1>
<div class="category-list">

  <a href="/categories/china" class="category">china</a>

  <a href="/categories/travel" class="category">travel</a>

</div>
<article>
    <p>In honor of our great nation’s independence, me, Annie, and some other quite American Chinese people decided to celebrate with a bbq. China, however, had different plans. Plans which included a torrential downpour.</p>

<p><em>Oh hey, look, Americans heartily grilling (or rather, cursing when the coals won’t light). Let’s give them…ACID RAIN. I hope you like sulfuric acid flavored burgers! Mwhahaha!</em></p>

<p>We were at Hansen Gu’s house, he’s a pretty chill dude. And by house, I mean a real house. Like, yard, dog, multiple stories, chandeliers, automatic mahjongg table. You know, average Chinese house. On that note, anyone down for halfsies (preferably quarteries or eighties…) for an automatic mahjongg table? Heck, anyone down for a game of mahjongg period? Do any of you know how to play? Why do I know how to play?
<!-- more -->
Overall, a very nice fourth, in the torrential downpour and delicious grilled meat sort of way. Actually, the past few days have been very nice in the torrential downpour sort of way. One day was particularly nasty in terms of storms disrupting my standard daily schedule. Chinese houses do not normally have a drier as it’s usually enough just to hang your clothing outside to dry. Me, trying to adapt to the culture, did the exact same thing. Though hedging my bets I only hung a shirt and a pair of boxers out there. Lo’ and behold - storm comes, I come home, I look outside….no more clothing. After a little bit of searching, a nice pair of boxers chillin’ 3 floors below on an air conditioner and my brand new Monkey King shirt lying in a puddle of mud on the ground floor. Lickity split I run downstairs to ask if I can get into the guy’s backyard (it’s walled off). No one.</p>

<p>I am then informed that no one lives there.</p>

<p>Shoot. Well, I leave a message on the door anyways. Someone has to stop by eventually…right?</p>

<p>My lucky day! A guy calls me saying he’s in the house - I get my shirt back. I think I’m ok with leaving the boxers though. Not exactly where I wanted to leave my boxers in China, but hey, air conditioner unit, very attractive female pop star’s bedroom…pretty much the same, right? Right.</p>

<p>In general though, the last few days have been pretty chill. I did some wandering checking off some unique sights such as:</p>

<ul>
  <li>Pushkin’s head, only statue of a foreigner in Shanghai pre-formation of the PRC.</li>
  <li>Eric Moller’s house. No idea who he is, but he has a wireframe pumpkin carriage in his house.</li>
  <li>The (oldest?) synagogue in Shanghai, which I cannot enter. I believe it’s no longer a synagogue after being bought by the city</li>
  <li>Xinjiang food, super delicious! nom nom nom lamb.</li>
  <li>Shaanxi Nan Lu to Shaanxi Bei Lu. If you’re ever in Shanghai and have a few hours, take a walk down Shaansxi Lu, there are a lot of little shops a large variety of different architecture, quite unique.</li>
</ul>

<p>But yeah, all in all, these past few days have been quite chill. Plans for the next few days (in no particular order in terms of interest):</p>

<ul>
  <li>Expo</li>
  <li>Mosque tour</li>
  <li>World’s tallest statue of Chopin</li>
  <li>Library!</li>
  <li>Spending more money than planned</li>
</ul>

</article>
<a href="/#writing"><img src="/images/logo.png" id="stamp"/></a>

    </div>
  </body>
  <script type="text/javascript">
      var colors = ["#FFFAF1","rgb(111,176,235)","#222222"],
          size = 25,
          yStart = window.innerHeight/size,
          dictSentences = [
            "&#8275; once fought a bear to a draw. ",
            "&#8275; is never gonna give you up. ",
            "Once upon a midnight dreary, &#8275; pondered weak and weary.",
            "&#8275; spent 6 months in a leaky boat",
            "Danger, &#8275;, danger!",
            "You can lead a &#8275; to a computer, but you can't make him code."
          ],
          generateBlocks = function() {
            var old = document.getElementsByClassName('footer-block');
            for(i=old.length-1;i>=0; --i) {
              old[i].parentNode.removeChild(old[i]);
            }
            for (var x = window.innerWidth/size+1; x >= 0; x--){    
              for (var y = yStart+1; y >= yStart-4; y--) {
                var square = document.createElement('div');
                square.className = "footer-block";
                square.style.height = "25px";
                square.style.width = "25px";
                square.style.position = "fixed";
                square.style.top = (size*y)+"px";
                square.style.left = (size*(x-1))+"px";
                square.style['z-index'] = 2;
                square.style.opacity = 1-(yStart-y)/4;

                square.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
                document.getElementsByTagName('body')[0].appendChild(square);
              } 
            }
          };

      sentence = document.getElementById('example-sentence');
      sentence.innerHTML = dictSentences[Math.floor(Math.random() * dictSentences.length)]; 
      // Hide all posts.
      posts = document.getElementById('all-content');
      if(posts.style.display != 'none') {
        posts.style.display = 'none';
      }

      writes = document.getElementById('writes');
      writes.onclick = function() {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      if(window.location.pathname !== '/' || window.location.hash === '#writing') {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      window.onresize = function() {
        yStart = window.innerHeight/size;
        generateBlocks();
      }
      generateBlocks();
  </script>
</html>
