<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Parry Cadwallader" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <link rel="stylesheet" type="text/css" href="/css/packed.css">
    <title>parryblog | Fowl Problems</title>
  </head>
  <body>
    <div id="front-page">
      <article>
          <h1>Parry (<em>n</em>)</h1>
          A red-haired Minnesotan, commonly found in Berkeley. <br/>
          Known to <a href="http://record.beer">drink beer</a>, <a class="show-writing" href="http://leflan.eu/r/learns/languages">learn languages</a>, <a href="http://www.github.com/parryc">program</a>, take pictures, <a id="writes" href="/#writing">write</a>, and <a class="show-writing" href="/categories/travel">travel</a>.
          <br/>
          <br/>
          <em><span id="example-sentence">&#8275; once fought a bear to a draw. </span></em>
          <br/>
          <div class="center">
            <img id="front-image" src="/images/face-black-and-white.png"/>
          </div>
      </article>
    </div>
    <div id="all-content">
      <h1 class="page-title large-page-title">Fowl Problems</h1>
<h1 class="page-title tiny-page-title">
	
		Fowl Problems
	
</h1>
<div class="category-list">

  <a href="/categories/china" class="category">china</a>

  <a href="/categories/travel" class="category">travel</a>

</div>
<article>
    <p>I’m ashamed to admit that I have a problem. Well, I’m probably ashamed. I’m pretty sure shame is outlawed in China - and you know how good I am at avoiding breaking laws (hence why I no longer mail anything).</p>

<p>What is this problem?</p>

<p>I don’t know what the food I eat at restaurants looks like raw. I order something delicious, say “8 Splced Hevenly Chriken.” Chicken. I like chicken. I can say chicken and I can say meat. Hell, I even know what a chicken looks like in real life. Buying chicken at the super market should be easy as pie!</p>

<p>So I walk to butcher’s area of the supermarket and look at what they have to offer. Various organs (I think), various limbs (I think), various… things that I’m not entirely sure are meat, but are there anyways. Some pre-cut meat things that have pig stickers on them. I’m pretty sure that these are pork. But it’s China and the labels don’t actually say pork anywhere on them…so, maybe only 80% sure.
<!-- more -->
I ask the butcher: “So… chicken.” He stares at me blankly. Knowing me and my horrible control over Chinese tones, I just said “prostitute massage” (妓揉 for those who care). Though, if that were the case I would have expected a more shocked expression….hm, perhaps the butcher’s store is just a front for something…</p>

<p>Anyways. I back track, I add a verb and a subject: You have…chicken?</p>

<p>“Ah! Chicken. Yes.” And then he proceeds to list off at least 15 different things that don’t have the word chicken in them.</p>

<p>I nod politely, smile, look down, hiding my tears, grab the package that looks the most like pork (the one with the happiest pig sticker) and walk very quickly away. Clearly I’m never going to eat chicken in China. Unless I learn to kill and pluck a chicken that you can buy from the side of the road. But that’s for another post.</p>

<p>Clearly this is not easy as pie. That should have been obvious. There are no pies in China. Nope. None. You can’t even <em>make</em> a pie because most (if not all) houses don’t have ovens. I guess you could make a pie out of sticky rice. But that’s almost more sad than not having any pies at all (which, is quite sad, believe me).</p>

<p>But not nearly as sad as how long it’s been since I’ve updated this. I’m still abroad, still traveling, so ostensibly this should be updated more…seeing as it’s a travel blog and what not.</p>

<p>Well, I got news for y’all. I don’t do anything. That’s not totally, true, I guess. The last few weekends, now that I’m in Shanghai, I’ve gone to my friend’s aunt/uncle and/or grandparent’s for lunch/dinner/occasionally breakfast. I’m proud to say that they’ve started switching into Shanghainese when they want to talk about me in front of my face. But just you wait, once I learn how to say more than “Let’s eat”, “I’m full”, and “F you, dumbass” (the three most useful phrases), then you’ll have to learn… to uh… use synonyms.</p>

<p>Synonyms are definitely the bane of my existence. Cue every sentence ever spoken to me: “Hey are you X-ing?” “What?” “X-ing” “I don’t know what that means” “WHAT! How could you not know! It means commonly-used-word-that-everyone-knows! You’re quite dumb.”</p>

<p>E’eryday, all day. The best thing is the look on the speaker’s face. They are so shocked. “You haven’t heard this rarely used phrase that you dictionary doesn’t have!” No, I’m sorry… I haven’t. The reverse, however, almost never happens, but sometimes it does. I’ll be like “Hey do you have Y?” “Parry, that’s not a word” “Yes it is” “No it’s not” “I just looked it up, it’s a word” “Your dictionary is wrong” “I don’t think that’s how dictionaries work.” “Oh… wait, yeah. yeah it’s a word. No, don’t have one.”</p>

<p>But anyways, enough about language, here’s a picture of a Hilary Clinton nutcracker. I went out last weekend when a friend from Cornell came in town. We went around to some common Shanghai places, and then a friend of one of her friends took us to his rapid prototyping factory on the outskirts of town (because, China). If anyone wants a vague description of Philip’s new soy milk maker (or a version of it, at least), I can be bought.</p>

<figure>
	<img src="/images/shanghai-fowl1.jpg" />
</figure>
<figure>
	<img src="/images/shanghai-fowl2.jpg" />
</figure>
<figure>
	<img src="/images/shanghai-fowl3.jpg" />
</figure>
<figure>
	<img src="/images/shanghai-fowl4.jpg" />
</figure>

</article>
<a href="/#writing"><img src="/images/logo.png" id="stamp"/></a>

    </div>
  </body>
  <script type="text/javascript">
      var colors = ["#FFFAF1","rgb(111,176,235)","#222222"],
          size = 25,
          yStart = window.innerHeight/size,
          dictSentences = [
            "&#8275; once fought a bear to a draw. ",
            "&#8275; is never gonna give you up. ",
            "Once upon a midnight dreary, &#8275; pondered weak and weary.",
            "&#8275; spent 6 months in a leaky boat",
            "Danger, &#8275;, danger!",
            "You can lead a &#8275; to a computer, but you can't make him code."
          ],
          generateBlocks = function() {
            var old = document.getElementsByClassName('footer-block');
            for(i=old.length-1;i>=0; --i) {
              old[i].parentNode.removeChild(old[i]);
            }
            for (var x = window.innerWidth/size+1; x >= 0; x--){    
              for (var y = yStart+1; y >= yStart-4; y--) {
                var square = document.createElement('div');
                square.className = "footer-block";
                square.style.height = "25px";
                square.style.width = "25px";
                square.style.position = "fixed";
                square.style.top = (size*y)+"px";
                square.style.left = (size*(x-1))+"px";
                square.style['z-index'] = 2;
                square.style.opacity = 1-(yStart-y)/4;

                square.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
                document.getElementsByTagName('body')[0].appendChild(square);
              } 
            }
          };

      sentence = document.getElementById('example-sentence');
      sentence.innerHTML = dictSentences[Math.floor(Math.random() * dictSentences.length)]; 
      // Hide all posts.
      posts = document.getElementById('all-content');
      if(posts.style.display != 'none') {
        posts.style.display = 'none';
      }

      writes = document.getElementById('writes');
      writes.onclick = function() {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      if(window.location.pathname !== '/' || window.location.hash === '#writing') {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      window.onresize = function() {
        yStart = window.innerHeight/size;
        generateBlocks();
      }
      generateBlocks();
  </script>
</html>
