<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Parry Cadwallader" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <link rel="stylesheet" type="text/css" href="/css/packed.css">
    <title>parryblog | Cornell Is Stacked</title>
  </head>
  <body>
    <div id="front-page">
      <article>
          <h1>Parry (<em>n</em>)</h1>
          A red-haired Minnesotan, commonly found in Berkeley. <br/>
          Known to <a href="http://record.beer">drink beer</a>, <a class="show-writing" href="http://leflan.eu/r/learns/languages">learn languages</a>, <a href="http://www.github.com/parryc">program</a>, take pictures, <a id="writes" href="/#writing">write</a>, and <a class="show-writing" href="/categories/travel">travel</a>.
          <br/>
          <br/>
          <em><span id="example-sentence">&#8275; once fought a bear to a draw. </span></em>
          <br/>
          <div class="center">
            <img id="front-image" src="/images/face-black-and-white.png"/>
          </div>
      </article>
    </div>
    <div id="all-content">
      <h1 class="page-title large-page-title">Cornell Is Stacked</h1>
<h1 class="page-title tiny-page-title">
	
		Cornell Is Stacked
	
</h1>
<div class="category-list">

  <a href="/categories/humor" class="category">humor</a>

</div>
<article>
    <p>“Never have I ever had sex in the stacks.”</p>

<p>One by one, the people in the circle put down a finger and start giggling as they notice it’s just me and my girlfriend with our fingers still up. This was definitely a first for me. Even if people were lying during a drinking game (like that could happen), I didn’t want to be the only one left out. That thought stuck with me the entire night: How could I achieve my goal of writing publicly available, non-slash fiction erotica if I didn’t have anything to base it on? I resolved right then (or, perhaps, three or four shots later) that I needed to expand my sexual horizons.<br />
<!-- more -->
After the party had disbanded and my girlfriend and I were in bed, I turned to her and said “We need to have sex in the stacks. But not just your run of the mill back-corner-of-Olin quickie — we gotta do the TOUR DE CORNELL!”</p>

<p>“Can’t we just pretend that your room is the stacks? There’s enough books here as it is …”</p>

<p>“No! I mean … wait. Yes, yes we can.”</p>

<p>Needless to say, I did not let this drop. I had to be the Lance Armstrong of the sex scene (though, perhaps, not as fast as him). And after many trials and tribulations, I have emerged victorious in my quest. I will now share with you some tips and tricks for finishing your own 23 day, eight library, Tour de Cornell.</p>

<h3 id="location-location-location">1. Location. Location. Location.</h3>

<p>Some parts of the stacks are used more often than others. For example, the Asian pop culture section in Kroch always has people there. The section with the census data from each Indian provence in the 1980s does not. No one is quite sure why.</p>

<h3 id="make-it-meaningful">2. Make it meaningful</h3>

<p>Do you and your partner get a kick out of XKCD? Then try gettin’ it on next to a copy of <a href="http://xkcd.com/983/">Hyperspace</a> by <a href="http://cornell.worldcat.org/title/hyperspace/oclc/5153709&amp;referer=brief_results">R. Lionel Fanthorpe</a>. Do you have a willing third or fourth participant with you? Find a Marquis de Sade book! Do you like it boring? Jane Eyre!</p>

<h3 id="have-a-theme">3. Have a theme</h3>

<p>Good idea: Going to the French film section dressed in your Parisian 30’s best.
<br />
Bad idea: Going to the Africana library dressed as a warlord.
<br />
Best idea: Going to the Ornithology library dressed as a bird.</p>

<h3 id="equipment">4. Equipment</h3>

<p>Although a blow-up mattress, a bottle of champagne and sexy reading from whichever books happen to be shelved on the second lowest shelf sounds like a romantic evening, it’s not. Bring a towel or sheet, do the dirty and get on with your day.</p>

<h3 id="position">5. Position</h3>

<p>Librarians can sense when you’re about to do someone standing up against a shelf.  Their knees start to twitch right before the order of the books is about to get all screwed up. You probably want to avoid this. Take a momentary hit to your sexual position pride and do it lying down or sitting on one of those cool roll-y stools.</p>

<h3 id="clothing">6. Clothing</h3>

<p>Women, wear skirts. Men, wear kilts. If you don’t have one, running very quickly to the stacks without wearing pants is also a reasonable alternative.</p>

<h3 id="talking">7. Talking</h3>

<p>You’re allowed to talk dirty, but it has to be in a whisper and restricted to library puns. “If this library used the Dewey decimal system, I’d file you under 697 because you’re making me hot” and “Yo, when is that book I checked out due?” are popular phrases.</p>

<h3 id="stealth">8. Stealth</h3>

<p>You are probably going to get caught if you walk into the stacks giggling, holding hands and looking around furtively. Or worse, someone studying might anonymously tweet about you. Plus, everything is more fun if you pretend you’re a ninja. 
<br /><br />
Keeping all these tips in mind can be hard, but if you persevere, you and your partner will be able to spend years regaling your decedents with tales of your debauchery. Most of which will just be about how you hid a condom in a book on abstinence (Olin, Level 4). For those without a dedicated partner, it is acceptable to switch to Cornell Library Bingo, in which one tries to sleep with someone whose major matches the library (yes, you can make Carpenter your free space).
<br /><br />
Just make sure not to have sex near the modern Chinese lit books. I need those for my thesis. 
<br /><br /><br />
<em>Written under the pseudonym Jimothy Singh for the Cornell Daily Sun</em></p>

</article>
<a href="/#writing"><img src="/images/logo.png" id="stamp"/></a>

    </div>
  </body>
  <script type="text/javascript">
      var colors = ["#FFFAF1","rgb(111,176,235)","#222222"],
          size = 25,
          yStart = window.innerHeight/size,
          dictSentences = [
            "&#8275; once fought a bear to a draw. ",
            "&#8275; is never gonna give you up. ",
            "Once upon a midnight dreary, &#8275; pondered weak and weary.",
            "&#8275; spent 6 months in a leaky boat",
            "Danger, &#8275;, danger!",
            "You can lead a &#8275; to a computer, but you can't make him code."
          ],
          generateBlocks = function() {
            var old = document.getElementsByClassName('footer-block');
            for(i=old.length-1;i>=0; --i) {
              old[i].parentNode.removeChild(old[i]);
            }
            for (var x = window.innerWidth/size+1; x >= 0; x--){    
              for (var y = yStart+1; y >= yStart-4; y--) {
                var square = document.createElement('div');
                square.className = "footer-block";
                square.style.height = "25px";
                square.style.width = "25px";
                square.style.position = "fixed";
                square.style.top = (size*y)+"px";
                square.style.left = (size*(x-1))+"px";
                square.style['z-index'] = 2;
                square.style.opacity = 1-(yStart-y)/4;

                square.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
                document.getElementsByTagName('body')[0].appendChild(square);
              } 
            }
          };

      sentence = document.getElementById('example-sentence');
      sentence.innerHTML = dictSentences[Math.floor(Math.random() * dictSentences.length)]; 
      // Hide all posts.
      posts = document.getElementById('all-content');
      if(posts.style.display != 'none') {
        posts.style.display = 'none';
      }

      writes = document.getElementById('writes');
      writes.onclick = function() {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      if(window.location.pathname !== '/' || window.location.hash === '#writing') {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      window.onresize = function() {
        yStart = window.innerHeight/size;
        generateBlocks();
      }
      generateBlocks();
  </script>
</html>
