<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Parry Cadwallader" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <link rel="stylesheet" type="text/css" href="/css/packed.css">
    <title>parryblog | If You Imagine It, They Will Come</title>
  </head>
  <body>
    <div id="front-page">
      <article>
          <h1>Parry (<em>n</em>)</h1>
          A red-haired Minnesotan, commonly found in Berkeley. <br/>
          Known to <a href="http://record.beer">drink beer</a>, <a class="show-writing" href="http://leflan.eu/r/learns/languages">learn languages</a>, <a href="http://www.github.com/parryc">program</a>, take pictures, <a id="writes" href="/#writing">write</a>, and <a class="show-writing" href="/categories/travel">travel</a>.
          <br/>
          <br/>
          <em><span id="example-sentence">&#8275; once fought a bear to a draw. </span></em>
          <br/>
          <div class="center">
            <img id="front-image" src="/images/face-black-and-white.png"/>
          </div>
      </article>
    </div>
    <div id="all-content">
      <h1 class="page-title large-page-title">If You Imagine It, They Will Come</h1>
<h1 class="page-title tiny-page-title">
	
		If You Imagine It, They Will Come
	
</h1>
<div class="category-list">

  <a href="/categories/humor" class="category">humor</a>

</div>
<article>
    <p>When I was a child, I loved to play pretend, running around as a knight saving the princess from the evil dragon. Over the years I kept my imagination alive: What better place to unsheathe my manly sword than in bed? While it’s no longer saving any girl from a fire-breathing dragon, it’s certainly saving her from a boring night. I know trying to generate ideas for role-playing without inspiration can be difficult, so I’ve included some of my favorite themes below.
<!-- more --></p>

<h3 id="batman">Batman</h3>

<p>The Batman universe has a wealth of characters at your disposal. Like it a little crazy? Joker and Harley Quinn. Do you have a strong chin? Adam West. Exploring your sexuality? Robin. Want to pretend you’re Halle Berry? Catwoman. Have you been smoking since you were seven? The Dark Knight rises is all you’ll need to say.</p>

<p>Note: Unlike “Shark Repellent” spray, there is no such thing as “Pregnancy Repellent” spray. Use a condom for great justice!</p>

<h3 id="section">300</h3>

<p>Obviously two muscular, well-oiled, almost-naked men fighting is not in the purview of most couples on campus, but that doesn’t mean that without a little imagination it can’t be. Throw in a little bit of yelling, maybe kick your partner into a well or declare war on the couple next door and you’ll definitely have a mythical night.</p>

<h3 id="the-crucible">The Crucible</h3>

<p>Dress up in your Puritan best and attempt to be the first person to burn their lover at the stake (get it? hot on some wood!). Screaming “more weight” is optional, and can be reworded to “more (whichever sexual act you’re currently enjoying).” Just make sure to yell it as if you were currently under 200 pounds of rocks. A bodice-ripping good time for all.</p>

<h3 id="the-avengers">The Avengers</h3>

<p>While this can be performed with only two people, experience shows that it works better when you have someone to play every character. Personally, I like showing off the lightening in my hammer, so I choose Thor. Other people I know are curvaceous, red-headed Russian spies, so obviously they like to play Iron Man.</p>

<h3 id="sun-sex-columnists">Sun Sex Columnists</h3>

<p>Dress up as me! Or, optionally, I’m there, you’re you and then I write about you and our night in an ambiguous way. I take requests based on favorite column.</p>

<h3 id="cornell">Cornell</h3>

<p>One dresses up as President Skorton, the other dresses as an irate undergraduate. Send each other disgruntled, long winded emails until one of you gives up the ghost and concedes that the other person might be right. Don’t have sex in order to “Stick it to the man / plebeians.” Another option is to make gorge puns throughout the night (if you aren’t doing that already).</p>

<h3 id="civil-war-themed">Civil War Themed</h3>

<p>Pretend that you’re General Sherman and burn everything in your partner’s apartment. Then march to the shores of Beebee Lake and have sex. Or, put on a top hat and emancipate your partner from the cruel institution of pants. Alternatively, one of you is Harriet Tubman, the other “goes down on the underground railroad.”</p>

<h3 id="dungeons-and-dragons">Dungeons and Dragons</h3>

<p>It is a little known fact that the first recorded sexual role-playing was between two 16 year-olds in Chaska, Minnesota in the late ’30s. The guy put on his robe and wizard hat and cast “magic missile” into the “dark cave.” Ever since then, writing down your sexual qualities and rolling dice to determine which moves are super effective has been a staple of sexual role-playing.</p>

<h3 id="the-odyssey">The Odyssey</h3>

<p>Particularly appropriate for Cornell, but I should warn you in advance, this one is only for hardcore role players. Are you into sex slavery? Calypso and Odysseus! Want to not have sex for 10 years? Penelope and the suitors! Have a whirlpool handy? Scylla and Charybdis!</p>

<h3 id="oedipus-rex">Oedipus Rex</h3>

<p>The only one of these suggestions that I can safely say is kid tested, mother approved.
<br /><br />
Remember, fair reader, that communication is still the name of the game. I don’t recommend that you jump out of the closet ready to role-play as the kidnappers from the movie Taken if your partner isn’t aware of what you’re doing. Unless, you know, you guys are into that.
<br /><br /><br />
<em>Written under the pseudonym Jimothy Singh for the Cornell Daily Sun</em></p>

</article>
<a href="/#writing"><img src="/images/logo.png" id="stamp"/></a>

    </div>
  </body>
  <script type="text/javascript">
      var colors = ["#FFFAF1","rgb(111,176,235)","#222222"],
          size = 25,
          yStart = window.innerHeight/size,
          dictSentences = [
            "&#8275; once fought a bear to a draw. ",
            "&#8275; is never gonna give you up. ",
            "Once upon a midnight dreary, &#8275; pondered weak and weary.",
            "&#8275; spent 6 months in a leaky boat",
            "Danger, &#8275;, danger!",
            "You can lead a &#8275; to a computer, but you can't make him code."
          ],
          generateBlocks = function() {
            var old = document.getElementsByClassName('footer-block');
            for(i=old.length-1;i>=0; --i) {
              old[i].parentNode.removeChild(old[i]);
            }
            for (var x = window.innerWidth/size+1; x >= 0; x--){    
              for (var y = yStart+1; y >= yStart-4; y--) {
                var square = document.createElement('div');
                square.className = "footer-block";
                square.style.height = "25px";
                square.style.width = "25px";
                square.style.position = "fixed";
                square.style.top = (size*y)+"px";
                square.style.left = (size*(x-1))+"px";
                square.style['z-index'] = 2;
                square.style.opacity = 1-(yStart-y)/4;

                square.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
                document.getElementsByTagName('body')[0].appendChild(square);
              } 
            }
          };

      sentence = document.getElementById('example-sentence');
      sentence.innerHTML = dictSentences[Math.floor(Math.random() * dictSentences.length)]; 
      // Hide all posts.
      posts = document.getElementById('all-content');
      if(posts.style.display != 'none') {
        posts.style.display = 'none';
      }

      writes = document.getElementById('writes');
      writes.onclick = function() {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      if(window.location.pathname !== '/' || window.location.hash === '#writing') {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      window.onresize = function() {
        yStart = window.innerHeight/size;
        generateBlocks();
      }
      generateBlocks();
  </script>
</html>
