<!DOCTYPE html>
<html>
<head>
  <title>{{t}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('.favicon') }}">
  {% assets "css_lib" %}
    <!--<link rel="stylesheet" href="{{ ASSET_URL }}" />-->
  {% endassets %}
  {% block page_css %}{% endblock %}
</head>
<body>
  <main>
    <section style="margin-bottom: 1em;">{% block header %}{% endblock %}</section>
    <article {% if lang %}lang="{{lang}}"{% endif %} id="top-link">
      {% block content %}{% endblock %}
    </article>
  </main>
  {% block page_js %}{% endblock %}
</body>
</html>