<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Parry Cadwallader" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <link rel="stylesheet" type="text/css" href="/css/packed.css">
    <title>parryblog | Hideki Matsui Fanclub Tour</title>
  </head>
  <body>
    <div id="front-page">
      <article>
          <h1>Parry (<em>n</em>)</h1>
          A red-haired Minnesotan, commonly found in Berkeley. <br/>
          Known to <a href="http://record.beer">drink beer</a>, <a class="show-writing" href="http://leflan.eu/r/learns/languages">learn languages</a>, <a href="http://www.github.com/parryc">program</a>, take pictures, <a id="writes" href="/#writing">write</a>, and <a class="show-writing" href="/categories/travel">travel</a>.
          <br/>
          <br/>
          <em><span id="example-sentence">&#8275; once fought a bear to a draw. </span></em>
          <br/>
          <div class="center">
            <img id="front-image" src="/images/face-black-and-white.png"/>
          </div>
      </article>
    </div>
    <div id="all-content">
      <h1 class="page-title large-page-title">Hideki Matsui Fanclub Tour</h1>
<h1 class="page-title tiny-page-title">
	
		Hideki Matsui Fanclub Tour
	
</h1>
<div class="category-list">

  <a href="/categories/japan" class="category">japan</a>

  <a href="/categories/travel" class="category">travel</a>

  <a href="/categories/usa" class="category">usa</a>

</div>
<article>
    <p>For those who weren’t aware, I have an undying passion for baseball. More passion than a box of passion fruit, and that’s a lot of passion. When I started to think about how I was going to get from China to the States (Google suggested kayaking), I realized I could accomplish my one true dream: The Hideki Matsui Cross-Pacific Fanclub Tour (tHMCPFT for those in the know). With a special pass, one has access to all of Matsui’s special haunts in Tokyo and Seattle, behind the scenes baseball games, introductory classes on game fixing, and free pizza. Nothing better. Actually, none of this is true, but I did go to Tokyo and Seattle over the past week. This is mostly just going to be pictures. Enjoy.
<!-- more -->
##Tokyo##</p>

<figure>
	<img src="/images/hideki-matsui-fanclub-tour/1.jpg" />
</figure>
<p>This is the pod hotel I stayed in. All of the toilets had heated seats, is there anything more you could ask for?</p>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/2.jpg" />
</figure>
<p>The streets of Nihonbashi (right by where I stayed). After people started work, the streets were pretty much barren if you weren’t downtown.</p>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/3.jpg" />
</figure>
<p>Waterways of Tokyo.</p>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/4.jpg" />
</figure>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/5.jpg" />
</figure>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/6.jpg" />
</figure>
<p>Akihbara - the non-creepy-electric area. This is the delicious, whole-sale part of it. The whole-sale describes how you buy deliciousness and everything else. The two guys were my first encounter with Japanese hospitality. They helped me order and paid for it! Apparently one of them is a gang leader (non-Yakuza). SWEET.</p>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/7.jpg" />
</figure>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/8.jpg" />
</figure>
<p>Tsukiji fish market (maybe- it was a fish market in Tsukiji). Woke up at 5am, wandered around the fish market and ate fresh sushi next to an alcoholic (a bottle of wine before 7am? Maybe it’s just a Japanese thing).</p>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/9.jpg" />
</figure>
<p>Imperial Palace!</p>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/10.jpg" />
</figure>
<p>The “Science” Museum. I don’t know about you, but I think this is a different kind of museum. Either that, or we can probably guess what type of person the architect was.</p>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/11.jpg" />
</figure>
<p>Shinjuku! Filled with deliciousness and bright lights. This is the Tokyo I have stereotypical expectations of.</p>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/12.jpg" />
</figure>
<p>A sign to the Studio Ghibli Museum. Unfortunately it was reservation only. Just one more reason to return to Tokyo! The area that the museum was in (Mitaka) also had a nice little park in it. And within that park there was a mojito stand. And within that mojito stand were two mojitos with my and Ashley’s name on them. Did I mention I love Tokyo?</p>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/13.jpg" />
</figure>
<p>Name the last type of pancake you had. Was it strawberry cheesecake, apple custard, or maple cream? No? Well get your butt over to Tokyo. Now.</p>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/14.jpg" />
</figure>
<p>SUMO WRESTLERS. 6ft, 30000000lbs of pure food.</p>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/15.jpg" />
</figure>
<p>After taking this photo, the slightly inebriated Japanese man informed me I had a “modern face.” As I left he yelled “Congratulations!” after me. Thanks…I think?
##Yokohama##</p>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/16.jpg" />
</figure>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/17.jpg" />
</figure>
<p>Ashley and I went down to Yokohama for an afternoon and walked by the water. We also went to the Yokohama Museum of Modern Art. It was cool to see a focus on Asian artists (and that one random Magritte picture…?).</p>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/18.jpg" />
</figure>

<p>As we were leaving, we stopped and watched this Japanese pop band. They were super catchy! The only disappointing thing was that their two speakers had better clarity and range than anything Cornell has been able to provide. #middleofnowhereproblems Here’s one of their songs: <a href="http://www.youtube.com/watch?v=Zw5Vq52ot-k">Brand New Vibe</a></p>

<h2 id="seattle">Seattle</h2>
<p>After Tokyo I flew into Seattle and visited fellow Cornellians Michelle (who lives there) and Colin (who is making bank at Amazon).</p>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/19.jpg" />
</figure>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/20.jpg" />
</figure>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/21.jpg" />
</figure>
<p>Yes, that is a canon in the back of the truck.</p>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/22.jpg" />
</figure>
<p>The first Starbucks!</p>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/23.jpg" />
</figure>
<p>A wall made of gum (guess which one is my gum).</p>
<figure>
	<img src="/images/hideki-matsui-fanclub-tour/24.jpg" />
</figure>
<p>Did I mention that we had all you can eat Korean BBQ?</p>

</article>
<a href="/#writing"><img src="/images/logo.png" id="stamp"/></a>

    </div>
  </body>
  <script type="text/javascript">
      var colors = ["#FFFAF1","rgb(111,176,235)","#222222"],
          size = 25,
          yStart = window.innerHeight/size,
          dictSentences = [
            "&#8275; once fought a bear to a draw. ",
            "&#8275; is never gonna give you up. ",
            "Once upon a midnight dreary, &#8275; pondered weak and weary.",
            "&#8275; spent 6 months in a leaky boat",
            "Danger, &#8275;, danger!",
            "You can lead a &#8275; to a computer, but you can't make him code."
          ],
          generateBlocks = function() {
            var old = document.getElementsByClassName('footer-block');
            for(i=old.length-1;i>=0; --i) {
              old[i].parentNode.removeChild(old[i]);
            }
            for (var x = window.innerWidth/size+1; x >= 0; x--){    
              for (var y = yStart+1; y >= yStart-4; y--) {
                var square = document.createElement('div');
                square.className = "footer-block";
                square.style.height = "25px";
                square.style.width = "25px";
                square.style.position = "fixed";
                square.style.top = (size*y)+"px";
                square.style.left = (size*(x-1))+"px";
                square.style['z-index'] = 2;
                square.style.opacity = 1-(yStart-y)/4;

                square.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
                document.getElementsByTagName('body')[0].appendChild(square);
              } 
            }
          };

      sentence = document.getElementById('example-sentence');
      sentence.innerHTML = dictSentences[Math.floor(Math.random() * dictSentences.length)]; 
      // Hide all posts.
      posts = document.getElementById('all-content');
      if(posts.style.display != 'none') {
        posts.style.display = 'none';
      }

      writes = document.getElementById('writes');
      writes.onclick = function() {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      if(window.location.pathname !== '/' || window.location.hash === '#writing') {
        document.getElementById('front-page').style.display = 'none';
        document.getElementById('all-content').style.display = 'block';
      }

      window.onresize = function() {
        yStart = window.innerHeight/size;
        generateBlocks();
      }
      generateBlocks();
  </script>
</html>
